/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../bower_components/reset.scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 20, ../bower_components/reset.scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/* line 23, ../bower_components/reset.scss/reset.scss */
body {
  line-height: 1;
}

/* line 26, ../bower_components/reset.scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../bower_components/reset.scss/reset.scss */
blockquote, q {
  quotes: none;
}
/* line 32, ../bower_components/reset.scss/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 36, ../bower_components/reset.scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../_scss/_buttons.scss */
.btn {
  display: inline-block;
  color: white;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
/* line 12, ../_scss/_buttons.scss */
.btn:active {
  outline: none;
}
/* line 15, ../_scss/_buttons.scss */
.btn:focus {
  outline: none;
}

/* line 20, ../_scss/_buttons.scss */
.btn-default {
  background: #1992ec;
  background: -webkit-linear-gradient(legacy-direction(#2ea1f8), #1992ec);
  background: linear-gradient(#2ea1f8, #1992ec);
}

/* line 24, ../_scss/_buttons.scss */
.btn-white {
  background: #f6f7fa;
  background: -webkit-linear-gradient(legacy-direction(#fff), #f6f7fa);
  background: linear-gradient(#fff, #f6f7fa);
  color: #000;
  border-bottom: 1px solid #d4d4d4;
}

/* line 1, ../_scss/_calendar.scss */
.date {
  width: 106px;
  border: 1px solid #ccc;
  padding-right: 10px;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  margin-right: 7px;
}
/* line 12, ../_scss/_calendar.scss */
.date input {
  border: none;
  width: 100px;
  padding: 7px;
  outline: none;
}
/* line 18, ../_scss/_calendar.scss */
.date .icon-calendar {
  position: absolute;
  top: 8px;
  right: 5px;
}

/* line 25, ../_scss/_calendar.scss */
.select select {
  cursor: pointer;
  padding: 8px;
  background: none;
  background-image: url(../images/icons/dropdown.png), url(../images/icons/bg-col.png);
  background-repeat: no-repeat, repeat-x;
  background-position: 90% center, left center;
  border: none;
  margin-right: 10px;
  display: inline-block;
  float: left;
  border-radius: 3px;
  border-bottom: 1px solid #d4d4d4;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding-right: 25px;
}

/* line 1, ../_scss/_camera-section.scss */
.per-camera {
  background-color: #fafafa;
  border-top: 1px solid #e3e3e3;
  padding: 15px 0;
  border-bottom: 2px solid #e3e3e3;
  z-index: 9999;
}
/* line 7, ../_scss/_camera-section.scss */
.per-camera .per-camera__title {
  font-size: 21px;
  font-weight: 400;
  padding-top: 5px;
}
/* line 13, ../_scss/_camera-section.scss */
.per-camera .per-camera__add .dropdown {
  position: relative;
  display: inline-block;
}
/* line 16, ../_scss/_camera-section.scss */
.per-camera .per-camera__add .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* line 22, ../_scss/_camera-section.scss */
.per-camera .per-camera__add .dropdown .dropdown-content a {
  display: block;
  padding: 10px;
  color: #000;
  font-size: 14px;
}
/* line 27, ../_scss/_camera-section.scss */
.per-camera .per-camera__add .dropdown .dropdown-content a:hover {
  background-color: #E5E5E5;
  cursor: pointer;
}
/* line 31, ../_scss/_camera-section.scss */
.per-camera .per-camera__add .dropdown .dropdown-content a .icon-adfold {
  margin-right: 10px;
}
/* line 34, ../_scss/_camera-section.scss */
.per-camera .per-camera__add .dropdown .dropdown-content a .icon-addcam {
  margin-right: 10px;
}
/* line 41, ../_scss/_camera-section.scss */
.per-camera .show {
  display: block !important;
}

/* line 1, ../_scss/_cameracontroll.scss */
.camera-video {
  position: relative;
}

/* line 4, ../_scss/_cameracontroll.scss */
.camera-controll-interface {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(34, 44, 60, 0.7);
  padding: 15px;
  color: white;
}
/* line 11, ../_scss/_cameracontroll.scss */
.camera-controll-interface div {
  float: left;
}
/* line 14, ../_scss/_cameracontroll.scss */
.camera-controll-interface div.inteface--timeline {
  position: relative;
  max-width: 641px;
  min-width: 641px;
  display: inline-block;
  margin-top: 6px;
  height: 6px;
  background-color: white;
  border-radius: 6px;
  margin-right: 19px;
}
/* line 24, ../_scss/_cameracontroll.scss */
.camera-controll-interface div.inteface--timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  border-radius: 6px;
  width: 40%;
  background-color: #2b9ff7;
}
/* line 35, ../_scss/_cameracontroll.scss */
.camera-controll-interface div.interface--time {
  margin-right: 15px;
}

/* line 1, ../_scss/_content.scss */
.per-content {
  background-color: #eeeeee;
  height: 100%;
  z-index: -9999;
}
/* line 6, ../_scss/_content.scss */
.per-content .per-content__container__folders {
  margin-bottom: 20px;
}
/* line 9, ../_scss/_content.scss */
.per-content .per-content__container__folders__block {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 3px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 35px;
  background: #f5f7f9;
  background: -webkit-linear-gradient(legacy-direction(#fefeff), #f5f7f9);
  background: linear-gradient(#fefeff, #f5f7f9);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 23, ../_scss/_content.scss */
.per-content .per-content__container__folders__block:last-child {
  float: left;
}
/* line 26, ../_scss/_content.scss */
.per-content .per-content__container__folders__block .icon-folder {
  margin-right: 10px;
  margin-top: 10px;
}
/* line 33, ../_scss/_content.scss */
.per-content .per-content__aside-menu {
  padding-top: 30px;
  border-right: 1px solid #d7d7d7;
}
/* line 38, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar li {
  position: relative;
  cursor: pointer;
}
/* line 41, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar li .icon-folder {
  margin-right: 5px;
}
/* line 44, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar li .icon-cam {
  margin-right: 5px;
}
/* line 47, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar li a {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 13px;
  display: inline-block;
}
/* line 59, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar .dropdown-menu {
  position: relative;
  display: none;
  padding-left: 10px;
}
/* line 63, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar .dropdown-menu li {
  margin-left: 21px;
}
/* line 66, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar .dropdown-menu a {
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 73, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar .dropdown-menu .dropdonw-menu-level {
  display: none;
}
/* line 77, ../_scss/_content.scss */
.per-content .per-content__aside-menu--navbar .icon-arrow-menu {
  width: 6px;
  height: 7px;
  display: inline-block;
  position: absolute;
  background-image: url(../images/icons/arrow-menu.png);
  background-repeat: no-repeat;
  left: -10px;
  top: 4px;
}
/* line 90, ../_scss/_content.scss */
.per-content .per-content__camera-view {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 94, ../_scss/_content.scss */
.per-content .per-content__container__camera-video {
  margin-bottom: 20px;
}
/* line 97, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* line 100, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block .video {
  height: 165px;
  background-color: #ccc;
  overflow: hidden;
}
/* line 104, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block .video img {
  background-size: cover;
  width: 120%;
  height: 165px;
}
/* line 110, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block .info {
  height: 35px;
  background-color: white;
  line-height: 35px;
  padding-left: 10px;
  position: relative;
}
/* line 116, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block .info .icon-trash, .per-content .per-content__container__camera-video__block .info .icon-full {
  position: absolute;
  right: 25px;
  top: 11px;
}
/* line 121, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block .info .icon-full {
  position: absolute;
  right: 10px;
  top: 11px;
}
/* line 126, ../_scss/_content.scss */
.per-content .per-content__container__camera-video__block .info h3 {
  float: left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  margin-right: 5px;
}

/* line 139, ../_scss/_content.scss */
.btn-close-window-menu {
  display: none;
}

/* line 143, ../_scss/_content.scss */
.per-content__aside-menu--cat {
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  background-color: #e3e3e3;
  margin-bottom: 10px;
}
/* line 149, ../_scss/_content.scss */
.per-content__aside-menu--cat .icon-camera, .per-content__aside-menu--cat .icon-cam {
  margin-right: 10px;
}

/* line 1, ../_scss/_dropdown.scss */
.contextMenu {
  min-width: 160px;
  height: auto;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 9, ../_scss/_dropdown.scss */
.contextMenu a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 10px;
}
/* line 15, ../_scss/_dropdown.scss */
.contextMenu a:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}
/* line 19, ../_scss/_dropdown.scss */
.contextMenu a .icon-adfold {
  margin-right: 10px;
}
/* line 22, ../_scss/_dropdown.scss */
.contextMenu a .icon-addcam {
  margin-right: 10px;
}

@font-face {
  font-family: 'PFD';
  src: url(../fonts/PFDinDisplayPro-Reg.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PFD';
  src: url(../fonts/PFDinDisplayPro-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'PFD';
  src: url(../fonts/PFDinDisplayPro-Black.tff) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'PFD';
  src: url(../fonts/PFDinDisplayPro-Light.ttf) format("truetype");
  font-style: lighter;
  font-weight: normal;
}
/* line 9, ../_scss/_grids.scss */
.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 14, ../_scss/_grids.scss */
.col-16 {
  width: 79.56204%;
  float: left;
  margin-right: 2.18978%;
}
/* line 16, ../_scss/_grids.scss */
.col-16:last-child {
  width: 79.56204%;
  float: right;
  margin-right: 0;
}
/* line 19, ../_scss/_grids.scss */
.col-16:first-child {
  width: 79.56204%;
  float: left;
  margin-right: 2.18978%;
}

/* line 24, ../_scss/_grids.scss */
.col-3 {
  width: 13.13869%;
  float: left;
  margin-right: 2.18978%;
}
/* line 26, ../_scss/_grids.scss */
.col-3:last-child {
  width: 13.13869%;
  float: right;
  margin-right: 0;
}
/* line 29, ../_scss/_grids.scss */
.col-3:first-child {
  width: 13.13869%;
  float: left;
  margin-right: 2.18978%;
}
@media (max-width: 375px) {
  /* line 24, ../_scss/_grids.scss */
  .col-3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 37, ../_scss/_grids.scss */
.col-4 {
  width: 18.24818%;
  float: left;
  margin-right: 2.18978%;
}
/* line 39, ../_scss/_grids.scss */
.col-4:last-child {
  width: 18.24818%;
  float: right;
  margin-right: 0;
}
/* line 42, ../_scss/_grids.scss */
.col-4:first-child {
  width: 18.24818%;
  float: left;
  margin-right: 2.18978%;
}
@media (max-width: 375px) {
  /* line 37, ../_scss/_grids.scss */
  .col-4 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 50, ../_scss/_grids.scss */
.col-5 {
  width: 23.35766%;
  float: left;
  margin-right: 2.18978%;
}
/* line 52, ../_scss/_grids.scss */
.col-5:first-child {
  width: 23.35766%;
  float: left;
  margin-right: 2.18978%;
}
/* line 55, ../_scss/_grids.scss */
.col-5:last-child {
  width: 23.35766%;
  float: right;
  margin-right: 0;
}
@media (max-width: 375px) {
  /* line 50, ../_scss/_grids.scss */
  .col-5 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* line 61, ../_scss/_grids.scss */
  .col-5:first-child {
    width: 100%;
    float: left;
    margin-right: 2.18978%;
  }
  /* line 64, ../_scss/_grids.scss */
  .col-5:last-child {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/* line 70, ../_scss/_grids.scss */
.col-6 {
  width: 28.46715%;
  float: left;
  margin-right: 2.18978%;
}
/* line 72, ../_scss/_grids.scss */
.col-6:first-child {
  width: 28.46715%;
  float: left;
  margin-right: 2.18978%;
}
/* line 75, ../_scss/_grids.scss */
.col-6:last-child {
  width: 28.46715%;
  float: right;
  margin-right: 0;
}
@media (max-width: 375px) {
  /* line 70, ../_scss/_grids.scss */
  .col-6 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 83, ../_scss/_grids.scss */
.col-7 {
  width: 33.57664%;
  float: left;
  margin-right: 2.18978%;
}
/* line 85, ../_scss/_grids.scss */
.col-7:first-child {
  width: 33.57664%;
  float: left;
  margin-right: 2.18978%;
}
/* line 88, ../_scss/_grids.scss */
.col-7:last-child {
  width: 33.57664%;
  float: right;
  margin-right: 0;
}
@media (max-width: 375px) {
  /* line 83, ../_scss/_grids.scss */
  .col-7 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 96, ../_scss/_grids.scss */
.col-10 {
  width: 48.90511%;
  float: left;
  margin-right: 2.18978%;
}
/* line 98, ../_scss/_grids.scss */
.col-10:last-child {
  width: 48.90511%;
  float: right;
  margin-right: 0;
}
/* line 101, ../_scss/_grids.scss */
.col-10:first-child {
  width: 48.90511%;
  float: left;
  margin-right: 2.18978%;
}
@media (max-width: 375px) {
  /* line 96, ../_scss/_grids.scss */
  .col-10 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 109, ../_scss/_grids.scss */
.col-15 {
  width: 74.45255%;
  float: left;
  margin-right: 2.18978%;
}
/* line 111, ../_scss/_grids.scss */
.col-15:first-child {
  width: 74.45255%;
  float: left;
  margin-right: 2.18978%;
}
/* line 114, ../_scss/_grids.scss */
.col-15:last-child {
  width: 74.45255%;
  float: right;
  margin-right: 0;
}
@media (max-width: 375px) {
  /* line 109, ../_scss/_grids.scss */
  .col-15 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 122, ../_scss/_grids.scss */
.col-17 {
  width: 84.67153%;
  float: right;
  margin-right: 0;
}
@media (max-width: 375px) {
  /* line 122, ../_scss/_grids.scss */
  .col-17 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 129, ../_scss/_grids.scss */
.col-20 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 375px) {
  /* line 129, ../_scss/_grids.scss */
  .col-20 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 1, ../_scss/_header.scss */
.per-header {
  background-color: white;
  padding: 20px 0;
}
/* line 4, ../_scss/_header.scss */
.per-header .per-header__logo {
  font-size: 42px;
  color: #0090ed;
  font-weight: 700;
}
/* line 8, ../_scss/_header.scss */
.per-header .per-header__logo a {
  text-decoration: none;
  color: inherit;
}
/* line 13, ../_scss/_header.scss */
.per-header .per-header__app {
  padding-top: 18px;
  font-style: lighter;
  font-weight: 400;
}
/* line 17, ../_scss/_header.scss */
.per-header .per-header__app a {
  margin-right: 15px;
}
/* line 19, ../_scss/_header.scss */
.per-header .per-header__app a:last-child {
  margin-right: 0;
}
/* line 23, ../_scss/_header.scss */
.per-header .per-header__app .per-header__app__title {
  float: left;
  display: inline-block;
  margin-right: 20px;
}
/* line 29, ../_scss/_header.scss */
.per-header .per-header__navbar {
  text-align: right;
  margin-right: 0;
}
/* line 33, ../_scss/_header.scss */
.per-header .per-header__navbar--wrapper {
  display: inline-block;
  padding-top: 20px;
}
/* line 36, ../_scss/_header.scss */
.per-header .per-header__navbar--wrapper li {
  display: inline-block;
  float: left;
  margin-right: 28px;
}
/* line 40, ../_scss/_header.scss */
.per-header .per-header__navbar--wrapper li:first-child {
  margin-left: 14px;
}
/* line 43, ../_scss/_header.scss */
.per-header .per-header__navbar--wrapper li:last-child {
  margin-right: 0;
}
/* line 46, ../_scss/_header.scss */
.per-header .per-header__navbar--wrapper li a {
  color: #0090ed;
  font-size: 16px;
  text-decoration: none;
}

/* line 1, ../_scss/_icons.scss */
.icon-closebig {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../images/icons/close-big.png);
  background-repeat: no-repeat;
}

/* line 9, ../_scss/_icons.scss */
.icon-folder {
  width: 16px;
  height: 15px;
  display: inline-block;
  float: left;
  background-image: url(../images/icons/folderico.png);
  background-repeat: no-repeat;
}

/* line 18, ../_scss/_icons.scss */
.icon-android, .icon-apple {
  width: 18px;
  height: 20px;
  display: inline-block;
  float: left;
  background-image: url(../svg/android.svg);
  background-repeat: no-repeat;
  background-size: 18px 20px;
}

/* line 28, ../_scss/_icons.scss */
.icon-apple {
  background-image: url(../svg/apple.svg);
  background-repeat: no-repeat;
  background-size: 18px 20px;
}

/* line 35, ../_scss/_icons.scss */
.icon-windows {
  width: 18px;
  height: 20px;
  float: left;
  display: inline-block;
  background-image: url(../svg/windows.svg);
  background-repeat: no-repeat;
  background-size: 18px 20px;
}

/* line 45, ../_scss/_icons.scss */
.icon-camera, .icon-cam {
  width: 16px;
  height: 12px;
  float: left;
  display: inline-block;
  background-image: url(../images/icons/camera.png);
  background-repeat: no-repeat;
}

/* line 54, ../_scss/_icons.scss */
.icon-cam {
  background-image: url(../images/icons/cam.png);
  background-repeat: no-repeat;
}

/* line 60, ../_scss/_icons.scss */
.icon-adfold {
  width: 16px;
  height: 15px;
  float: left;
  display: inline-block;
  background-image: url(../images/icons/folder-add.png);
  background-repeat: no-repeat;
}

/* line 69, ../_scss/_icons.scss */
.icon-addcam {
  width: 16px;
  height: 11px;
  float: left;
  display: inline-block;
  background-image: url(../images/icons/cameradd.png);
}

/* line 77, ../_scss/_icons.scss */
.icon-calendar {
  width: 16px;
  height: 16px;
  float: left;
  display: inline-block;
  background-image: url(../images/icons/calendar.png);
  background-repeat: no-repeat;
}

/* line 86, ../_scss/_icons.scss */
.icon-menu {
  width: 18px;
  height: 12px;
  float: right;
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../images/mobile/dropdown.png);
  background-repeat: no-repeat;
}

/* line 98, ../_scss/_icons.scss */
.icon-camera-mob {
  width: 16px;
  height: 12px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  background-image: url(../images/mobile/dropdown-next.png);
  background-repeat: no-repeat;
}

/* line 109, ../_scss/_icons.scss */
.icon-close-btn-window {
  width: 10px;
  height: 10px;
  display: inline-block;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  background-image: url(../images/icons/closebtn.png);
  background-repeat: no-repeat;
}

/* line 120, ../_scss/_icons.scss */
.icon-trash, .icon-full {
  width: 13px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  background-image: url(../images/icons/icon-trash.png);
  background-repeat: no-repeat;
}

/* line 131, ../_scss/_icons.scss */
.icon-full {
  margin-right: 0;
  background-image: url(../images/icons/share.png);
}

/* line 137, ../_scss/_icons.scss */
.icon-skype {
  width: 18px;
  height: 19px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: url(../images/icons/skype.png);
  background-repeat: no-repeat;
}

/* line 147, ../_scss/_icons.scss */
.icon-play {
  width: 14px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url(../images/icons/Play-icon.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 159, ../_scss/_icons.scss */
.icon-volume {
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url(../images/icons/Volume-icon.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 171, ../_scss/_icons.scss */
.icon-social-share {
  width: 14px;
  height: 16px;
  display: inline-block;
  float: left;
  background-image: url(../images/icons/social-share.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 181, ../_scss/_icons.scss */
.icon-full-size {
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-left: 13px;
  background-image: url(../images/icons/resize-window.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 193, ../_scss/_icons.scss */
.svg-logo, .svg-logo-navigation, .svg-logo-mobile-camera {
  width: 141px;
  height: 30px;
  display: inline-block;
  background-image: url(../svg/logo.svg);
  background-repeat: no-repeat;
  background-size: 141px 30px;
}
@media (max-width: 768px) {
  /* line 193, ../_scss/_icons.scss */
  .svg-logo, .svg-logo-navigation, .svg-logo-mobile-camera {
    width: 80px;
    height: 17px;
    background-size: 80px 17px;
    background-repeat: no-repeat;
  }
}

/* line 208, ../_scss/_icons.scss */
.svg-logo-navigation, .svg-logo-mobile-camera {
  background-size: 80px 17px;
  width: 80px;
  height: 17px;
}

/* line 219, ../_scss/_icons.scss */
.icon-getback {
  width: 10px;
  height: 15px;
  background-image: url(../images/get-back.png);
  background-repeat: no-repeat;
  display: inline-block;
}

@keyframes fadeIn {
  from {
    top: -300px;
    opacity: .4;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    top: -300px;
    opacity: .4;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    top: -300px;
    opacity: .4;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  /* line 2, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block {
    margin-bottom: 10px !important;
  }

  /* line 5, ../_scss/_mediaquery.scss */
  .per-content__aside-menu .content-aside-menu {
    position: initial !important;
  }

  /* line 8, ../_scss/_mediaquery.scss */
  .per-header__logo h3 a {
    display: block !important;
  }

  /* line 11, ../_scss/_mediaquery.scss */
  .btn-close-window-menu {
    display: block !important;
  }

  /* line 14, ../_scss/_mediaquery.scss */
  .per-content__aside-menu .btn-close-window-menu {
    right: 24px !important;
    top: 17px !important;
  }

  /* line 19, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    width: 46% !important;
  }
  /* line 21, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block .video {
    height: 236px;
  }
  /* line 23, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block .video img {
    height: 242px;
  }

  /* line 28, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--header {
    text-align: left;
    padding: 10px;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 18px;
  }

  /* line 35, ../_scss/_mediaquery.scss */
  .mobile-header {
    text-align: left;
    padding: 10px;
    padding-top: 2px;
    padding-left: 40px;
    padding-bottom: 18px;
  }

  /* line 42, ../_scss/_mediaquery.scss */
  .per-header {
    padding: 20px 30px !important;
  }

  /* line 45, ../_scss/_mediaquery.scss */
  .per-camera {
    padding: 15px 30px !important;
  }

  /* line 49, ../_scss/_mediaquery.scss */
  .video img {
    width: 100%;
  }

  /* line 54, ../_scss/_mediaquery.scss */
  #cameraContext {
    margin-bottom: 5px;
  }

  /* line 58, ../_scss/_mediaquery.scss */
  .mobile-create-folder {
    margin-bottom: 15px;
  }
  /* line 60, ../_scss/_mediaquery.scss */
  .mobile-create-folder a {
    color: #518fe9;
    text-decoration: none;
  }

  /* line 66, ../_scss/_mediaquery.scss */
  .mobile-add-camera {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /* line 69, ../_scss/_mediaquery.scss */
  .mobile-add-camera a {
    color: #518fe9;
    text-decoration: none;
  }

  /* line 78, ../_scss/_mediaquery.scss */
  .per-header__logo h3 a {
    display: none;
  }
  /* line 81, ../_scss/_mediaquery.scss */
  .per-header__logo h3 a.mobile-logo {
    display: block;
    border: none;
    cursor: pointer;
    background-image: url(../images/mobile/Perseus.png);
    width: 81px;
    height: 17px;
  }

  /* line 91, ../_scss/_mediaquery.scss */
  .per-content__container__folders {
    margin-bottom: 0px !important;
  }

  /* line 94, ../_scss/_mediaquery.scss */
  .btn-respons {
    display: inline-block;
  }

  /* line 97, ../_scss/_mediaquery.scss */
  .per-header__app {
    display: none;
  }

  /* line 100, ../_scss/_mediaquery.scss */
  .per-header__navbar {
    display: none;
  }

  /* line 103, ../_scss/_mediaquery.scss */
  .per-camera__add {
    display: none;
  }

  /* line 106, ../_scss/_mediaquery.scss */
  .mobile-menu-btn {
    display: block;
    font-size: 17px;
    width: 160px;
    line-height: 11px;
  }

  /* line 112, ../_scss/_mediaquery.scss */
  .desktop-title {
    display: none;
  }

  /* line 116, ../_scss/_mediaquery.scss */
  .mobile-menu-btn {
    cursor: pointer;
  }

  /* line 120, ../_scss/_mediaquery.scss */
  .per-header__navbar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* line 129, ../_scss/_mediaquery.scss */
  .per-header__navbar a.mobile-logo {
    margin-left: 40px;
    margin-bottom: 20px;
    display: block;
    border: none;
    cursor: pointer;
    background-image: url(../images/mobile/Perseus.png);
    width: 81px;
    height: 17px;
  }
  /* line 139, ../_scss/_mediaquery.scss */
  .per-header__navbar .close-btn-navbar {
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 16px;
    z-index: 9999;
    display: block;
  }
  /* line 149, ../_scss/_mediaquery.scss */
  .per-header__navbar .col-6.per-header__navbar {
    width: 100% !important;
  }
  /* line 152, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper {
    width: 240px;
    height: 100vh;
    background-color: white;
    z-index: 9999;
  }
  /* line 157, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--header {
    border-bottom: 1px solid #e2e2e2;
  }
  /* line 160, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--apps {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 40px;
  }
  /* line 166, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--apps div {
    margin-top: 10px;
  }
  /* line 168, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--apps div a {
    margin-right: 10px;
  }
  /* line 170, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--apps div a:last-child {
    margin-right: 0;
  }
  /* line 174, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper .navbar--apps div:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
  }
  /* line 183, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper ul {
    margin: 0;
    padding: 0;
    float: none;
    text-align: left;
    margin-top: 40px;
  }
  /* line 190, ../_scss/_mediaquery.scss */
  .per-header__navbar .per-header__navbar--wrapper li {
    display: block;
    text-align: left;
    margin: 0;
    float: none;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  /* line 202, ../_scss/_mediaquery.scss */
  .per-content__aside-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9993;
    height: 100% !important;
    width: 100% !important;
    display: none;
  }
  /* line 211, ../_scss/_mediaquery.scss */
  .per-content__aside-menu .btn-close-window-menu {
    cursor: pointer;
    position: absolute;
    right: -55px;
    top: 20px;
    background-color: transparent;
    border: none;
  }
  /* line 219, ../_scss/_mediaquery.scss */
  .per-content__aside-menu .content-aside-menu {
    position: relative;
    top: 0;
    z-index: 9999;
    width: 240px;
    margin-top: -32px;
    padding-top: 20px;
    height: 100vh;
    background-color: white;
  }
  /* line 229, ../_scss/_mediaquery.scss */
  .per-content__aside-menu .mobile-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
  }
  /* line 233, ../_scss/_mediaquery.scss */
  .per-content__aside-menu a.mobile-logo {
    margin-left: 40px;
    margin-bottom: 20px;
    display: block;
    border: none;
    cursor: pointer;
    background-image: url(../images/mobile/Perseus.png);
    width: 81px;
    height: 17px;
  }
  /* line 243, ../_scss/_mediaquery.scss */
  .per-content__aside-menu h3 {
    padding-left: 40px;
  }
  /* line 246, ../_scss/_mediaquery.scss */
  .per-content__aside-menu .per-content__aside-menu--navbar {
    padding-left: 40px;
  }

  /* line 252, ../_scss/_mediaquery.scss */
  .per-header .per-header__navbar--wrapper {
    display: block;
    width: 240px;
    background-color: white;
  }

  /* line 258, ../_scss/_mediaquery.scss */
  .col-16 {
    width: 100%;
  }

  /* line 262, ../_scss/_mediaquery.scss */
  .col-10.per-usersett__left {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  /* line 267, ../_scss/_mediaquery.scss */
  .col-10.per-usersett__right {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  /* line 272, ../_scss/_mediaquery.scss */
  .col-3.per-navigate__title {
    width: 56%;
    float: none;
  }
}
@media (min-width: 769px) {
  /* line 280, ../_scss/_mediaquery.scss */
  .close-btn-navbar {
    display: none;
  }

  /* line 283, ../_scss/_mediaquery.scss */
  .mobile-create-folder {
    display: none;
  }

  /* line 286, ../_scss/_mediaquery.scss */
  .mobile-add-camera {
    display: none;
  }

  /* line 289, ../_scss/_mediaquery.scss */
  .btn-close-window-menu {
    display: none;
  }

  /* line 292, ../_scss/_mediaquery.scss */
  .btn-respons {
    display: none;
  }

  /* line 295, ../_scss/_mediaquery.scss */
  .per-header__navbar {
    float: right;
  }

  /* line 298, ../_scss/_mediaquery.scss */
  .mobile-menu-btn {
    display: none;
  }

  /* line 301, ../_scss/_mediaquery.scss */
  .mobile-header {
    display: none;
  }

  /* line 304, ../_scss/_mediaquery.scss */
  div.navbar--header {
    display: none;
  }

  /* line 307, ../_scss/_mediaquery.scss */
  div.navbar--apps {
    display: none;
  }
}
@media (max-width: 1200px) {
  /* line 313, ../_scss/_mediaquery.scss */
  .per-navigate {
    padding: 15px 30px !important;
  }

  /* line 316, ../_scss/_mediaquery.scss */
  .col-4.per-navigate__title {
    width: 100%;
  }

  /* line 319, ../_scss/_mediaquery.scss */
  .per-header {
    padding: 20px 30px;
  }

  /* line 322, ../_scss/_mediaquery.scss */
  .per-camera {
    padding: 15px 30px;
  }

  /* line 325, ../_scss/_mediaquery.scss */
  .col-6.per-header__navbar {
    width: 30%;
  }

  /* line 328, ../_scss/_mediaquery.scss */
  .col-5.per-header__app {
    width: 24% !important;
  }
}
@media (max-width: 1039px) {
  /* line 334, ../_scss/_mediaquery.scss */
  .col-3.per-camera__title {
    min-width: 160px;
  }

  /* line 337, ../_scss/_mediaquery.scss */
  .col-5.per-header__app {
    width: 32% !important;
  }

  /* line 340, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__folders {
    margin-bottom: 0px;
  }

  /* line 343, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video {
    margin-bottom: 0px;
  }

  /* line 346, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block {
    width: 30% !important;
    margin-bottom: 20px;
  }
  /* line 349, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block:last-child {
    float: left;
  }

  /* line 353, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    width: 30% !important;
    margin-bottom: 20px;
  }
  /* line 356, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block:last-child {
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 363, ../_scss/_mediaquery.scss */
  .col-6.per-header__navbar {
    width: 100% !important;
  }

  /* line 366, ../_scss/_mediaquery.scss */
  .col-4.per-header__logo {
    margin-right: 3.0101% !important;
  }

  /* line 369, ../_scss/_mediaquery.scss */
  .col-5.per-header__app {
    margin-right: 1.0101% !important;
    width: 35.24242% !important;
  }

  /* line 373, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block {
    width: 31%;
    margin-bottom: 10px;
  }
  /* line 376, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block:last-child {
    margin-bottom: 20px;
  }

  /* line 381, ../_scss/_mediaquery.scss */
  .col-16.per-content__camera-view {
    width: 100%;
    padding-left: 30px;
  }

  /* line 385, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    width: 31%;
    margin-bottom: 10px;
  }

  /* line 389, ../_scss/_mediaquery.scss */
  .col-20.per-content__container__folders {
    margin-bottom: 9px;
    margin-top: -10px;
  }

  /* line 394, ../_scss/_mediaquery.scss */
  .per-usersett__invite__form .btn {
    margin-top: 20px;
  }

  /* line 398, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 404, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    width: 46% !important;
  }
  /* line 406, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block .video {
    height: 240px;
  }
  /* line 408, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block .video img {
    height: 262px;
  }
}
@media (max-width: 460px) {
  /* line 417, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block {
    width: 46% !important;
  }

  /* line 420, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    width: 46% !important;
  }

  /* line 423, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video__block .info h3 {
    width: 120px;
  }

  /* line 426, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video__block .video {
    height: 141px;
  }
  /* line 428, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video__block .video img {
    height: 148px;
  }
}
@media (max-width: 375px) {
  /* line 436, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video__block .video {
    height: 192px;
  }
  /* line 438, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video__block .video img {
    height: 205px;
  }

  /* line 442, ../_scss/_mediaquery.scss */
  .per-content .per-content__container__camera-video__block .info h3 {
    width: 210px !important;
  }

  /* line 445, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__folders__block {
    width: 91% !important;
  }

  /* line 448, ../_scss/_mediaquery.scss */
  .col-5.per-content__container__camera-video__block {
    width: 91% !important;
  }
}
/* line 1, ../_scss/_modal.scss */
.modal, .modal-camera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

/* line 15, ../_scss/_modal.scss */
.modal-camera .modal-body {
  position: relative;
  margin: 5% auto;
  max-width: 900px;
  background-color: white;
  -webkit-animation: fadeIn .4s;
  -moz-animation: fadeIn .4s;
  animation: fadeIn .4s;
}
/* line 21, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__header {
  padding: 20px 30px;
}
/* line 23, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__header:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
/* line 30, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__header h3 {
  font-size: 21px;
  float: left;
}
/* line 34, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__header .btn-modal-camera-close {
  float: right;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #000;
}
/* line 43, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info {
  padding: 10px 30px;
  background-color: #fafafa;
  border-top: 1px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}
/* line 49, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher span {
  margin-left: 10px;
  display: inline-block;
  padding-top: 5px;
  font-weight: bold;
  font-size: 14px;
}
/* line 57, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher--checkbox {
  position: relative;
  display: inline-block;
  float: left;
  width: 45px;
  height: 26px;
}
/* line 63, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher--checkbox > input {
  display: none;
}
/* line 65, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher--checkbox > input:checked + .slide {
  background-color: #0090ed;
}
/* line 68, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher--checkbox > input:checked + .slide:before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
}
/* line 74, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher--checkbox > .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 26px;
}
/* line 83, ../_scss/_modal.scss */
.modal-camera .modal-body .modal-body__info .modal-body__info__switcher--checkbox > .slide:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

/* line 103, ../_scss/_modal.scss */
.camera-video > img {
  width: 100%;
  height: auto;
}

/* line 109, ../_scss/_modal.scss */
.modal-tabs-window {
  display: none;
}
/* line 111, ../_scss/_modal.scss */
.modal-tabs-window .modal-body {
  margin: 5% auto;
  width: 900px;
  background-color: #eeeeee;
}
/* line 115, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__header {
  background-color: white;
  border-bottom: 2px solid #e5e5e5;
  padding: 23px;
}
/* line 120, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__header .modal-body__header--tabs .tablinks {
  font-size: 14px;
  color: #adadad;
  padding: 3px;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}
/* line 129, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__header .modal-body__header--tabs .tablinks:last-child {
  border-right: none;
  padding-right: 10px;
}
/* line 136, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__title {
  text-align: center;
  background-color: #eeeeee;
}
/* line 139, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__title h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-top: 109px;
}
/* line 146, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__blocks {
  background-color: #eeeeee;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 130px;
}
/* line 150, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__blocks:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
/* line 158, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__blocks .blocks {
  width: 180px;
  height: 160px;
  float: left;
  position: relative;
  margin-right: 70px;
  display: inline-block !important;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #cccccc;
}
/* line 168, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__blocks .blocks:first-child {
  margin-left: 110px;
}
/* line 171, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__blocks .blocks:last-child {
  margin-right: 0;
}
/* line 174, ../_scss/_modal.scss */
.modal-tabs-window .modal-body .modal-body__content--create__blocks .blocks:hover {
  background: #1992eb;
  background: -webkit-linear-gradient(legacy-direction(#2da1f7), #1992eb);
  background: linear-gradient(#2da1f7, #1992eb);
  border: 1px solid transparent;
}

/* line 183, ../_scss/_modal.scss */
.tabcontent {
  display: none;
}
/* line 185, ../_scss/_modal.scss */
.tabcontent:first-child {
  display: block;
}

/* line 190, ../_scss/_modal.scss */
.active-modal {
  font-weight: 700;
  color: #000 !important;
  padding-bottom: 10px;
  border-bottom: 4px solid #0090ed;
}

/* line 198, ../_scss/_modal.scss */
.block-one .blocks__image {
  width: 90px;
  height: 67px;
  position: absolute;
  top: 33px;
  left: 25%;
  right: 50%;
  background-image: url(../images/icons/sprites.png);
  background-position: 0px -87px;
  background-repeat: no-repeat;
}
/* line 209, ../_scss/_modal.scss */
.block-one .blocks__title {
  text-align: center;
  position: absolute;
  bottom: 17px;
}
/* line 213, ../_scss/_modal.scss */
.block-one .blocks__title h4 {
  text-align: center;
}

/* line 220, ../_scss/_modal.scss */
.block-two .blocks__image {
  width: 90px;
  height: 67px;
  position: absolute;
  top: 33px;
  left: 25%;
  right: 50%;
  background-image: url(../images/icons/sprites.png);
  background-position: 0px -242px;
  background-repeat: no-repeat;
}
/* line 231, ../_scss/_modal.scss */
.block-two .blocks__title {
  position: absolute;
  bottom: 17px;
  text-align: center;
}
/* line 235, ../_scss/_modal.scss */
.block-two .blocks__title h4 {
  padding-left: 26px;
}

/* line 241, ../_scss/_modal.scss */
.block-three .blocks__image {
  width: 90px;
  height: 67px;
  position: absolute;
  top: 33px;
  left: 25%;
  right: 50%;
  background-image: url(../images/icons/sprites.png);
  background-position: 0px -345px;
  background-repeat: no-repeat;
}
/* line 252, ../_scss/_modal.scss */
.block-three .blocks__title {
  position: absolute;
  bottom: 17px;
  text-align: center;
}
/* line 256, ../_scss/_modal.scss */
.block-three .blocks__title h4 {
  padding-left: 46px;
}

/* line 262, ../_scss/_modal.scss */
.setting-bg-image {
  width: 261px;
  height: 126px;
  display: block;
  background-image: url(../images/icons/computer.png);
  background-repeat: no-repeat;
  display: inline-block;
}

/* line 271, ../_scss/_modal.scss */
.modal-body__content--setting {
  position: relative;
  text-align: center;
}
/* line 274, ../_scss/_modal.scss */
.modal-body__content--setting h3 {
  font-size: 21px;
  line-height: 25px;
}

/* line 280, ../_scss/_modal.scss */
.modal-body__content--instr {
  text-align: left;
  padding-left: 50px;
  padding-top: 70px;
  line-height: 27px;
}
/* line 285, ../_scss/_modal.scss */
.modal-body__content--instr h3 {
  font-size: 21px;
  margin-bottom: 10px;
}
/* line 289, ../_scss/_modal.scss */
.modal-body__content--instr p {
  font-size: 21px;
  margin-bottom: 40px;
}

/* line 295, ../_scss/_modal.scss */
.modal-icons {
  margin-bottom: 30px;
}
/* line 297, ../_scss/_modal.scss */
.modal-icons a {
  padding-top: 10px;
  margin-right: 10px;
  float: left;
}
/* line 303, ../_scss/_modal.scss */
.modal-icons:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/* line 312, ../_scss/_modal.scss */
.btn-style-close {
  border: none;
  background-color: transparent;
}

/* line 321, ../_scss/_modal.scss */
.modal-body__contact {
  width: 600px;
  margin: 5% auto;
  background-color: #eeeeee;
}
/* line 325, ../_scss/_modal.scss */
.modal-body__contact .modal-body-contact__header {
  padding: 10px;
  padding-top: 30px;
}
/* line 329, ../_scss/_modal.scss */
.modal-body__contact .close-btn-contact {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* line 335, ../_scss/_modal.scss */
.modal-body__contact .modal-body-contact__body h1 {
  font-size: 36px;
  margin-bottom: 37px;
  padding-top: 30px;
  padding-left: 110px;
}
/* line 341, ../_scss/_modal.scss */
.modal-body__contact .modal-body-contact__body h3 {
  font-style: lighter;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}
/* line 348, ../_scss/_modal.scss */
.modal-body__contact .modal-body-contact__body {
  position: relative;
  background-color: #eee;
}
/* line 352, ../_scss/_modal.scss */
.modal-body__contact .contact-blocks-email-skype {
  padding-left: 140px;
  margin-top: 40px;
}
/* line 355, ../_scss/_modal.scss */
.modal-body__contact .contact-blocks-email-skype span {
  float: left;
}
/* line 357, ../_scss/_modal.scss */
.modal-body__contact .contact-blocks-email-skype span a {
  text-decoration: none;
  font-size: 16px;
  color: #0090ed;
}

/* line 366, ../_scss/_modal.scss */
.form-group-modal {
  margin-bottom: 10px;
  padding-left: 150px;
}
/* line 369, ../_scss/_modal.scss */
.form-group-modal button {
  margin-top: 20px;
  margin-left: 90px;
}
/* line 373, ../_scss/_modal.scss */
.form-group-modal:first-child {
  margin-top: 40px;
}
/* line 376, ../_scss/_modal.scss */
.form-group-modal:last-child {
  margin-bottom: 0;
}
/* line 379, ../_scss/_modal.scss */
.form-group-modal input {
  font-size: 14px;
  font-family: 'PFD';
  color: #000;
  padding: 6px;
  width: 246px;
  border: 1px solid #dfe3e9;
}
/* line 387, ../_scss/_modal.scss */
.form-group-modal textarea {
  resize: none;
  width: 246px;
  height: 107px;
  font-size: 15px;
  border: 1px solid #dfe3e9;
  padding: 6px;
  font-family: 'PFD';
}

/* line 1, ../_scss/_navigate.scss */
.per-navigate {
  background-color: #fafafa;
  border-top: 1px solid #e3e3e3;
  padding: 20px 0;
  border-bottom: 2px solid #e3e3e3;
  z-index: 9999;
}
/* line 7, ../_scss/_navigate.scss */
.per-navigate .per-navigate__title {
  font-size: 21px;
}

/* line 1, ../_scss/_usercontent.scss */
.block_format, .per-usersett .per-usersett__right__country, .per-usersett .per-usersett__right__clock, .per-usersett .per-usersett__right__bussines, .per-usersett .per-usersett__info, .per-usersett .per-usersett__invite, .per-usersett .per-usersett__password, .per-usersett .per-usersett__rss {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 20px;
}
/* line 6, ../_scss/_usercontent.scss */
.block_format:last-child, .per-usersett .per-usersett__right__country:last-child, .per-usersett .per-usersett__right__clock:last-child, .per-usersett .per-usersett__right__bussines:last-child, .per-usersett .per-usersett__info:last-child, .per-usersett .per-usersett__invite:last-child, .per-usersett .per-usersett__password:last-child, .per-usersett .per-usersett__rss:last-child {
  margin-bottom: 0;
}

/* line 11, ../_scss/_usercontent.scss */
.forminput, .per-usersett .per-usersett__invite .per-usersett__invite__form input[type="text"], .per-usersett .per-usersett__password input[type="password"] {
  background-color: #f9f9f9;
  border: 1px solid #dfe3e9;
  padding: 9px 12px;
  padding-right: 30px;
  font-size: 14px;
  border-radius: 3px;
}
/* line 18, ../_scss/_usercontent.scss */
.forminput:focus, .per-usersett .per-usersett__invite .per-usersett__invite__form input[type="text"]:focus, .per-usersett .per-usersett__password input[type="password"]:focus {
  outline: none;
}
/* line 21, ../_scss/_usercontent.scss */
.forminput:active, .per-usersett .per-usersett__invite .per-usersett__invite__form input[type="text"]:active, .per-usersett .per-usersett__password input[type="password"]:active {
  outline: none;
}

/* line 26, ../_scss/_usercontent.scss */
.seciton-input, .per-usersett .per-usersett__right__country .per-usersett__right__country__form select, .per-usersett .per-usersett__right__clock .per-usersett__right__clock__form select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  background: #f5f7fa;
  background: -webkit-linear-gradient(legacy-direction(#fefeff), #f5f7fa);
  background: linear-gradient(#fefeff, #f5f7fa);
  background-image: url(../images/icons/dropdown.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  padding: 8px;
  padding-right: 130px;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 41, ../_scss/_usercontent.scss */
.seciton-input:active, .per-usersett .per-usersett__right__country .per-usersett__right__country__form select:active, .per-usersett .per-usersett__right__clock .per-usersett__right__clock__form select:active {
  outline: none;
}
/* line 44, ../_scss/_usercontent.scss */
.seciton-input:focus, .per-usersett .per-usersett__right__country .per-usersett__right__country__form select:focus, .per-usersett .per-usersett__right__clock .per-usersett__right__clock__form select:focus {
  outline: none;
}

/* line 49, ../_scss/_usercontent.scss */
.per-usersett {
  margin-top: 30px;
  margin-bottom: 150px;
}
/* line 56, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__country h3 {
  font-size: 21px;
}
/* line 59, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__country .per-usersett__right__country__form {
  margin-top: 20px;
}
/* line 61, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__country .per-usersett__right__country__form select {
  background-image: url(../images/icons/dropdown.png), url(../images/icons/bg-col.png);
  background-position: 90% center, left center;
  background-repeat: no-repeat, repeat-x;
}
/* line 67, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__country .per-usersett__right__country__form input[type="submit"] {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}
/* line 76, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__delete {
  padding: 20px;
}
/* line 78, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__delete a {
  font-size: 16px;
  text-decoration: none;
  color: #2397ed;
}
/* line 87, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__clock h3 {
  font-size: 21px;
}
/* line 90, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__clock .per-usersett__right__clock__form {
  margin-top: 20px;
}
/* line 92, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__clock .per-usersett__right__clock__form select {
  width: 210px;
  padding-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-image: url(../images/icons/dropdown.png), url(../images/icons/bg-col.png);
  background-position: 90% center, left center;
  background-repeat: no-repeat, repeat-x;
}
/* line 103, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__clock .per-usersett__right__clock__form input[type="submit"] {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}
/* line 114, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__bussines h3 {
  font-size: 21px;
}
/* line 117, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__right__bussines blockquote {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}
/* line 128, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__info h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* line 132, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__info h3:last-child {
  margin-bottom: 0;
}
/* line 135, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__info h3 span {
  margin-left: 5px;
  font-weight: 400;
}
/* line 143, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__invite h2 {
  font-size: 21px;
  margin-bottom: 20px;
}
/* line 147, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__invite h4 {
  font-size: 14px;
}
/* line 149, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__invite h4 b {
  font-weight: 700;
}
/* line 153, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__invite .per-usersett__invite__form {
  margin-top: 20px;
}
/* line 155, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__invite .per-usersett__invite__form input[type="text"] {
  padding-right: 30px;
  margin-right: 10px;
}
/* line 165, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__password .per-usersett__password__form {
  margin-top: 20px;
}
/* line 168, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__password h3 {
  font-size: 21px;
}
/* line 171, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__password input[type="password"] {
  display: block;
  margin-bottom: 10px;
}
/* line 175, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__password input[type="password"]:last-child {
  margin-bottom: 0;
}
/* line 181, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__rss h3 {
  font-size: 21px;
}
/* line 185, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__rss .per-usersett__rss__form {
  margin-top: 15px;
}
/* line 187, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__rss .per-usersett__rss__form .btn {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
/* line 192, ../_scss/_usercontent.scss */
.per-usersett .per-usersett__rss .per-usersett__rss__form p {
  padding-top: 15px;
  margin-left: 70px;
}

/* line 201, ../_scss/_usercontent.scss */
.per-usersett__rss__form--input {
  margin-top: 28px;
  float: left;
  margin-right: 10px;
}

/* line 207, ../_scss/_usercontent.scss */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

/* line 212, ../_scss/_usercontent.scss */
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

/* line 218, ../_scss/_usercontent.scss */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #d2d2d2;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* line 229, ../_scss/_usercontent.scss */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

/* line 241, ../_scss/_usercontent.scss */
.checkbox:checked + label:before {
  background: #0090ed;
}

/* line 244, ../_scss/_usercontent.scss */
.checkbox:checked + label:after {
  left: 26px;
}

/* line 247, ../_scss/_usercontent.scss */
.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}

/* line 251, ../_scss/_usercontent.scss */
#checkbox-bold-second {
  padding-top: 26px;
}

/* line 1, ../_scss/_interface.scss */
.camera-interface {
  width: 100%;
  background-color: rgba(34, 44, 60, 0.7);
  height: 46px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 8, ../_scss/_interface.scss */
.camera-interface .interface-play {
  position: absolute;
  top: 15px;
  left: 12px;
}
/* line 13, ../_scss/_interface.scss */
.camera-interface .interface-time {
  position: absolute;
  left: 56px;
  top: 16px;
  color: white;
  font-size: 14px;
}
/* line 20, ../_scss/_interface.scss */
.camera-interface .interface-timeline {
  position: absolute;
  top: 20px;
  left: 98px;
  width: 70%;
  height: 6px;
  border-radius: 6px;
  background-color: white;
}
@media (max-width: 800px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 67%;
  }
}
@media (max-width: 768px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 66%;
  }
}
@media (max-width: 736px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 64%;
  }
}
@media (max-width: 668px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 60%;
  }
}
@media (max-width: 569px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 55%;
  }
}
@media (max-width: 493px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 47%;
  }
}
@media (max-width: 460px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 42%;
  }
}
@media (max-width: 454px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 37%;
  }
}
@media (max-width: 375px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 31%;
  }
}
@media (max-width: 321px) {
  /* line 20, ../_scss/_interface.scss */
  .camera-interface .interface-timeline {
    width: 27%;
  }
}
/* line 60, ../_scss/_interface.scss */
.camera-interface .interface-full {
  position: absolute;
  top: 15px;
  right: 20px;
}
@media (max-width: 375px) {
  /* line 60, ../_scss/_interface.scss */
  .camera-interface .interface-full {
    right: 13px;
  }
}
@media (max-width: 321px) {
  /* line 60, ../_scss/_interface.scss */
  .camera-interface .interface-full {
    right: 10px;
  }
}
/* line 71, ../_scss/_interface.scss */
.camera-interface .interface-share {
  right: 54px;
  top: 15px;
  position: absolute;
}
@media (max-width: 375px) {
  /* line 71, ../_scss/_interface.scss */
  .camera-interface .interface-share {
    right: 43px;
  }
}
@media (max-width: 321px) {
  /* line 71, ../_scss/_interface.scss */
  .camera-interface .interface-share {
    right: 39px;
  }
}
/* line 82, ../_scss/_interface.scss */
.camera-interface .interface-sound {
  right: 72px;
  top: 15px;
  position: absolute;
}
@media (max-width: 375px) {
  /* line 82, ../_scss/_interface.scss */
  .camera-interface .interface-sound {
    right: 58px;
  }
}
@media (max-width: 321px) {
  /* line 82, ../_scss/_interface.scss */
  .camera-interface .interface-sound {
    right: 52px;
  }
}
/* line 93, ../_scss/_interface.scss */
.camera-interface .interface-time-end {
  position: absolute;
  top: 16px;
  right: 119px;
  color: white;
  font-size: 14px;
}
@media (max-width: 375px) {
  /* line 93, ../_scss/_interface.scss */
  .camera-interface .interface-time-end {
    right: 104px;
  }
}
@media (max-width: 321px) {
  /* line 93, ../_scss/_interface.scss */
  .camera-interface .interface-time-end {
    right: 96px;
  }
}

/* line 1, ../_scss/_fix.scss */
.modal-body__info {
  padding-right: 0 !important;
}

/* line 5, ../_scss/_fix.scss */
.input-group select {
  margin-right: 0 !important;
}

/* line 10, ../_scss/_fix.scss */
.modal-body__info__date--time .btn-default {
  padding: 7px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 10px;
  float: right;
}

/* line 19, ../_scss/_fix.scss */
input.error {
  border: 1px solid red;
  color: red;
}

/* line 24, ../_scss/_fix.scss */
input.valid {
  border: 1px solid green;
  color: green;
}

/* line 29, ../_scss/_fix.scss */
label.error {
  float: left;
  border: none;
  color: red;
}

/* line 36, ../_scss/_fix.scss */
.per-usersett__invite__form label.error {
  display: none !important;
}
@media (max-width: 768px) {
  /* line 36, ../_scss/_fix.scss */
  .per-usersett__invite__form label.error {
    display: none !important;
  }
}

/* line 45, ../_scss/_fix.scss */
.per-usersett__invite__form input.error {
  color: red !important;
  border: 1px solid red !important;
}

/* line 52, ../_scss/_fix.scss */
.per-usersett__invite__form input.valid {
  color: green !important;
  border: 1px solid green !important;
}

/* line 59, ../_scss/_fix.scss */
.form-group-modal {
  position: relative;
}
/* line 61, ../_scss/_fix.scss */
.form-group-modal label.error {
  position: absolute;
  font-size: 12px;
  left: -110px;
  top: 9px;
}

/* line 70, ../_scss/_fix.scss */
.modal-contact-valida {
  display: none;
}
/* line 72, ../_scss/_fix.scss */
.modal-contact-valida .modal-contact-valida__body {
  background-color: white;
  padding: 8px;
  width: 600px;
  padding: 30px;
  padding-right: 20px;
  margin: 5% auto;
  background-color: #fafafa;
}
/* line 82, ../_scss/_fix.scss */
.modal-contact-valida .modal-contact-valida__header .modal-contact-valida--close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
}

/* line 93, ../_scss/_fix.scss */
.per-content__aside-menu--navbar {
  padding-left: 10px;
}

/* line 96, ../_scss/_fix.scss */
.per-content__aside-menu--cat {
  padding-left: 10px;
}

/* line 100, ../_scss/_fix.scss */
.modal-contact-valida__body--text {
  text-align: center;
  margin-top: 35px;
}
/* line 103, ../_scss/_fix.scss */
.modal-contact-valida__body--text h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}
/* line 108, ../_scss/_fix.scss */
.modal-contact-valida__body--text div {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-style: lighter;
  line-height: 25px;
  margin-bottom: 60px;
}

/* line 118, ../_scss/_fix.scss */
.modal-tabs-window .modal-body .modal-body__header .modal-body__header--tabs .tablinks {
  cursor: auto;
}

@media (max-width: 889px) {
  /* line 124, ../_scss/_fix.scss */
  .hidden-md {
    display: none !important;
  }

  /* line 127, ../_scss/_fix.scss */
  .modal-body__info__date .date {
    margin-right: 30px;
  }
}
/* line 132, ../_scss/_fix.scss */
.btn-modal-cmaera-close .filter-showsm {
  display: none;
}

/* line 136, ../_scss/_fix.scss */
.btn-modal-camera-close .filter-showsm {
  display: none;
}

@media (max-width: 1095px) {
  /* line 141, ../_scss/_fix.scss */
  .col-6.per-header__navbar {
    width: 41%;
  }
}
@media (max-width: 1028px) {
  /* line 148, ../_scss/_fix.scss */
  .col-5.per-header__app > .per-header__app__title {
    display: none !important;
  }
}
@media (max-width: 776px) {
  /* line 155, ../_scss/_fix.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 158, ../_scss/_fix.scss */
  .btn-modal-camera-close .filter-showsm {
    display: block;
    float: left;
    font-size: 14px;
    color: #2b9ff7;
    text-decoration: underline;
    position: absolute;
    top: 1px;
    right: 60px;
  }
}
/* line 170, ../_scss/_fix.scss */
.col-5.per-content__container__folders__block,
.col-5.per-content__container__camera-video__block {
  margin-bottom: 20px;
}

/* line 175, ../_scss/_fix.scss */
.col-5 {
  margin-right: 1.19% !important;
}

/* line 180, ../_scss/_fix.scss */
.desktop-title a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 187, ../_scss/_fix.scss */
.per-content .per-content__camera-view {
  margin-bottom: 0;
}

/* line 191, ../_scss/_fix.scss */
.per-content .per-content__container__camera-video {
  margin-bottom: 0;
}

/* line 3, ../_scss/_modalfilter.scss */
.modal-body__header .filter-showsm {
  color: #2b9ff7;
  font-size: 14px;
  text-decoration: none;
  display: none;
}
@media (max-width: 768px) {
  /* line 3, ../_scss/_modalfilter.scss */
  .modal-body__header .filter-showsm {
    display: inline-block;
    float: right;
    margin-right: 37px;
    padding-top: 3px;
    cursor: pointer;
  }
}

/* line 26, ../_scss/pers.scss */
*:active {
  outline: none;
}
/* line 29, ../_scss/pers.scss */
*:focus {
  outline: none;
}

/* line 34, ../_scss/pers.scss */
html {
  min-height: 100%;
}

/* line 38, ../_scss/pers.scss */
body {
  background-color: #eeeeee;
  font-family: "PFD";
  font-size: 16px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 47, ../_scss/pers.scss */
.container {
  min-height: 100%;
}

/* line 51, ../_scss/pers.scss */
.btn-modal-camera-close .filter-showsm {
  text-decoration: none !important;
  top: 2px !important;
}

@media (max-width: 480px) {
  /* line 58, ../_scss/pers.scss */
  .modal-camera .modal-body .modal-body__header {
    padding: 20px 10px;
    padding-right: 0px;
  }

  /* line 62, ../_scss/pers.scss */
  .modal-camera .modal-body .modal-body__header h3 {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (max-width: 375px) {
  /* line 73, ../_scss/pers.scss */
  .modal-camera .modal-body .modal-body__header {
    padding: 20px 10px;
    padding-right: 0px;
  }

  /* line 77, ../_scss/pers.scss */
  .modal-camera .modal-body .modal-body__header h3 {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (max-width: 1200px) {
  /* line 86, ../_scss/pers.scss */
  .per-content {
    padding-left: 30px;
  }
}
@media (max-width: 1134px) {
  /* line 94, ../_scss/pers.scss */
  .per-usersett__invite__form .btn.btn-default {
    margin-top: 15px;
  }
}
/* line 100, ../_scss/pers.scss */
.col-20.per-usersett {
  padding: 0 30px;
}

/* line 104, ../_scss/pers.scss */
.col-4.per-content__aside-menu {
  border-right: none;
}

@media (max-width: 768px) {
  /* line 108, ../_scss/pers.scss */
  .col-16.per-content__camera-view {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  /* line 114, ../_scss/pers.scss */
  .form-group-modal label.error {
    display: none !important;
  }
}

@media (max-width: 768px) {
  /* line 121, ../_scss/pers.scss */
  .modal-body__info__date.col-15 button {
    margin-left: 0px;
    margin-right: 0px;
    float: none;
  }
}

/* line 130, ../_scss/pers.scss */
.col-16.per-content__camera-view {
  position: relative;
}
/* line 132, ../_scss/pers.scss */
.col-16.per-content__camera-view:after {
  content: "";
  width: 1px;
  background-color: #d7d7d7;
  position: absolute;
  top: -30px;
  bottom: 0;
  left: -2.90%;
}

/* line 144, ../_scss/pers.scss */
.modal-contact .modal-body__contact {
  text-align: center;
}
/* line 146, ../_scss/pers.scss */
.modal-contact .modal-body__contact .email-contact-block {
  margin-right: 20px;
}
/* line 149, ../_scss/pers.scss */
.modal-contact .modal-body__contact .form-group-modal {
  padding-left: 0px;
  float: none;
  display: block;
}
/* line 154, ../_scss/pers.scss */
.modal-contact .modal-body__contact form {
  display: inline-block;
}
/* line 157, ../_scss/pers.scss */
.modal-contact .modal-body__contact h1 {
  padding-left: 0px;
}
/* line 160, ../_scss/pers.scss */
.modal-contact .modal-body__contact div {
  display: inline-block;
}
/* line 163, ../_scss/pers.scss */
.modal-contact .modal-body__contact div.contact-blocks-email-skype {
  padding-left: 0px;
}
/* line 166, ../_scss/pers.scss */
.modal-contact .modal-body__contact input {
  display: inline-block;
  float: none;
}
/* line 170, ../_scss/pers.scss */
.modal-contact .modal-body__contact button {
  display: inline-block;
}
/* line 173, ../_scss/pers.scss */
.modal-contact .modal-body__contact button#closeButtonContact {
  margin-left: 516px;
}
/* line 176, ../_scss/pers.scss */
.modal-contact .modal-body__contact button#ready-commit {
  margin-left: 0;
}

@media (max-width: 600px) {
  /* line 184, ../_scss/pers.scss */
  .modal-contact .modal-body__contact {
    margin-bottom: 5%;
    width: 320px;
    text-align: center;
  }
  /* line 186, ../_scss/pers.scss */
  .modal-contact .modal-body__contact .col-20.modal-body-contact__header {
    margin-left: 90px;
  }
  /* line 189, ../_scss/pers.scss */
  .modal-contact .modal-body__contact .form-group-modal {
    padding-left: 0;
  }
  /* line 194, ../_scss/pers.scss */
  .modal-contact .modal-body__contact .email-contact-block {
    margin-right: 20px;
  }
  /* line 197, ../_scss/pers.scss */
  .modal-contact .modal-body__contact .contact-blocks-email-skype {
    padding-left: 0;
  }
  /* line 200, ../_scss/pers.scss */
  .modal-contact .modal-body__contact h1 {
    display: inline-block;
    padding-left: 0;
    font-size: 24px;
  }
  /* line 205, ../_scss/pers.scss */
  .modal-contact .modal-body__contact h3 {
    display: inline-block;
    font-size: 13px;
  }
  /* line 209, ../_scss/pers.scss */
  .modal-contact .modal-body__contact div {
    display: inline-block;
  }
  /* line 212, ../_scss/pers.scss */
  .modal-contact .modal-body__contact .form-group-modal {
    text-align: center;
  }
  /* line 215, ../_scss/pers.scss */
  .modal-contact .modal-body__contact button {
    margin-left: 0;
    display: inline-block;
  }
}
@media (max-width: 768px) {
  /* line 224, ../_scss/pers.scss */
  .col-20.per-usersett__right__country {
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  /* line 231, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body, .modal-tabs-window.modal-camera .modal-body {
    width: 400px;
  }
  /* line 235, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--setting.tabcontent p, .modal-tabs-window.modal-camera .modal-body .modal-body__content--setting.tabcontent p {
    font-size: 19px;
  }
  /* line 240, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--create__title h3, .modal-tabs-window.modal-camera .modal-body .modal-body__content--create__title h3 {
    font-size: 22px;
  }
  /* line 245, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__header--tabs a, .modal-tabs-window.modal-camera .modal-body .modal-body__header--tabs a {
    display: none;
  }
  /* line 249, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--instr.tabcontent, .modal-tabs-window.modal-camera .modal-body .modal-body__content--instr.tabcontent {
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;
  }
  /* line 253, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--instr.tabcontent p, .modal-tabs-window.modal-camera .modal-body .modal-body__content--instr.tabcontent p {
    font-size: 18px;
  }
  /* line 257, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--setting.tabcontent, .modal-tabs-window.modal-camera .modal-body .modal-body__content--setting.tabcontent {
    text-align: center;
  }
  /* line 259, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--setting.tabcontent h3, .modal-tabs-window.modal-camera .modal-body .modal-body__content--setting.tabcontent h3 {
    font-size: 16px;
  }
  /* line 262, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--setting.tabcontent *, .modal-tabs-window.modal-camera .modal-body .modal-body__content--setting.tabcontent * {
    display: inline-block;
  }
  /* line 266, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--create.tabcontent, .modal-tabs-window.modal-camera .modal-body .modal-body__content--create.tabcontent {
    text-align: center;
  }
  /* line 268, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__title h3, .modal-tabs-window.modal-camera .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__title h3 {
    font-size: 22px;
    padding-top: 20px;
  }
  /* line 274, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__blocks, .modal-tabs-window.modal-camera .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__blocks {
    display: inline-block;
  }
  /* line 276, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__blocks .blocks, .modal-tabs-window.modal-camera .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__blocks .blocks {
    display: block !important;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  /* line 279, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__blocks .blocks:last-child, .modal-tabs-window.modal-camera .modal-body .modal-body__content--create.tabcontent .modal-body__content--create__blocks .blocks:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 400px) {
  /* line 231, ../_scss/pers.scss */
  .modal-tabs-window.modal .modal-body, .modal-tabs-window.modal-camera .modal-body {
    width: 320px;
  }
}

@media (max-width: 600px) {
  /* line 295, ../_scss/pers.scss */
  .modal-contact .modal-body__contact button#closeButtonContact {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  /* line 302, ../_scss/pers.scss */
  .modal-contact-valida__body {
    width: 320px;
  }
  /* line 305, ../_scss/pers.scss */
  .modal-contact-valida__body .modal-contact-valida__body--text h3 {
    font-size: 29px;
  }
  /* line 308, ../_scss/pers.scss */
  .modal-contact-valida__body .modal-contact-valida__body--text div {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 29px;
  }

  /* line 317, ../_scss/pers.scss */
  .per-usersett__invite__form .btn.btn-default {
    padding-left: 27px;
    padding-right: 27px;
  }
}
