.btn{
	display: inline-block;
	color: white;
	font-size: 14px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	&:active{
		outline: none;
	}
	&:focus{
		outline: none;
	}
}

.btn-default{
	@include linear-gradient(#2ea1f8, #1992ec);
}

.btn-white{
	@include linear-gradient(#fff, #f6f7fa);
	color: #000;
	border-bottom: 1px solid #d4d4d4;
}