.date{
			width: 106px;
			border: 1px solid #ccc;
			padding-right: 10px;
			overflow: hidden;
			position: relative;
			background-color: #f6f6f6;
			border-radius: 3px;
			cursor: pointer;
			float: left;
			margin-right: 7px;
			input{
				border: none;
				width: 100px;
				padding: 7px;
				outline: none;
			}
			.icon-calendar{
				position: absolute;
				top: 8px;
				right: 5px;
			}
		}
	.select {
		select{
			cursor: pointer;
			padding: 8px;
			background: none;
			background-image: url(../images/icons/dropdown.png), url(../images/icons/bg-col.png);
			background-repeat: no-repeat, repeat-x;
			background-position: 90% center, left center;
			border: none;
			margin-right: 10px;
			display: inline-block;
			float: left;
			border-radius: 3px;
			border-bottom: 1px solid #d4d4d4;
			-webkit-appearance: none;
    	-moz-appearance: none;
    	text-indent: 1px;
   	 	text-overflow: '';
    	padding-right: 25px;
		}
	}