.camera-video{
	position: relative;
}
.camera-controll-interface{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(34,44,60,.7);
	padding: 15px;
	color: white;
	div{
		float: left;
	}
	div.inteface--timeline{
		position: relative;
		max-width: 641px;
		min-width: 641px;
		display: inline-block;
		margin-top: 6px;
		height: 6px;
		background-color: white;
		border-radius: 6px;
		margin-right: 19px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 6px;
			border-radius: 6px;
			width: 40%;
			background-color: #2b9ff7;
		}
	}
	div.interface--time{
		margin-right: 15px;
	}
}