.per-camera{
	background-color: $pers-section-background;
	border-top: 1px solid $pers-section-border-top-color;
	padding: 15px 0;
	border-bottom: 2px solid #e3e3e3;
	z-index: 9999;
	.per-camera__title{
		font-size: $pers-section-text-size-title;
		font-weight: 400;
		padding-top: 5px;
	}
	.per-camera__add{
		.dropdown{
			position: relative;
			display: inline-block;
			.dropdown-content{
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				a{
					display: block;
					padding: 10px;
					color: #000;
					font-size: 14px;
					&:hover{
						background-color: #E5E5E5;
						cursor: pointer;
					}
					.icon-adfold{
						margin-right: 10px;
					}
					.icon-addcam{
						margin-right: 10px;
					}
				}
			}
		}
	}
	.show{display: block !important;}
}