.per-content{
	background-color: $pers-content-background;
	height: 100%;
	z-index: -9999;

	.per-content__container__folders{
			margin-bottom: 20px;
		}
	.per-content__container__folders__block{
		text-decoration: none;
		color: #000;
			cursor: pointer;
			border-bottom: 1px solid #d4d4d4;
			border-radius: 3px;
			height: 35px;
			padding-left: 15px;
			padding-right: 15px;
			line-height: 35px;
			@include linear-gradient(#fefeff, #f5f7f9);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:last-child{
				float: left;
			}
			.icon-folder{
				margin-right: 10px;
				margin-top: 10px;
			}
		}


	.per-content__aside-menu{
		padding-top: 30px;
		border-right: 1px solid #d7d7d7;
	}
	.per-content__aside-menu--navbar{
		li{
			position: relative;
			cursor: pointer;
			.icon-folder{
				margin-right: 5px;
			}
			.icon-cam{
				margin-right: 5px;
			}
			a{
				text-decoration: none;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: #000;
				font-size: 14px;
				display: inline-block;
				margin-bottom: 13px;
				display: inline-block;
			}
		}
		.dropdown-menu{
			position: relative;
			display: none;
			padding-left: 10px;
			li{
				margin-left: 21px;
			}
			a{
				font-size: 12px;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.dropdonw-menu-level{
				display: none;
			}
		}
		.icon-arrow-menu{
			width: 6px;
			height: 7px;
			display: inline-block;
			position: absolute;
			background-image: url(../images/icons/arrow-menu.png);
			background-repeat: no-repeat;
			left: -10px;
			top: 4px;
		}
	}


	.per-content__camera-view{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.per-content__container__camera-video{
		margin-bottom: 20px;
	}
	.per-content__container__camera-video__block{
		box-shadow: 0px 1px 2px rgba(0, 0, 0,.1);
		cursor: pointer;
		.video{
			height: 165px;
			background-color: #ccc;
			overflow: hidden;
			img{
				background-size: cover;
				width: 120%;
				height: 165px;
			}
		}
		.info{
			height: 35px;
			background-color: white;
			line-height: 35px;
			padding-left: 10px;
			position: relative;
			.icon-trash{
				position: absolute;
				right: 25px;
				top: 11px;
			}
			.icon-full{
				position: absolute;
				right: 10px;
				top: 11px;
			}
			h3{
				float: left;
				display: inline-block;
				white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 160px;
			margin-right: 5px;
			}
		}
	}
}

.btn-close-window-menu{
	display: none;
}

.per-content__aside-menu--cat{
	font-weight: 700;
	font-size: 14px;
	padding: 10px;
	background-color: #e3e3e3;
	margin-bottom: 10px;
	.icon-camera{
		margin-right: 10px;
	}
}