.contextMenu{
	min-width: 160px;
	height: auto;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	a{
		display: block;
		text-decoration: none;
		color: #000;
		font-size: 14px;
		padding: 10px;
		&:hover{
			background-color: #F0F0F0;
			cursor: pointer;
		}
		.icon-adfold{
			margin-right: 10px;
		}
		.icon-addcam{
			margin-right: 10px;
		}
	}
}