.modal-body__info{
	padding-right: 0 !important;
}

.input-group select{
	margin-right: 0 !important;
}

.modal-body__info__date--time{
	.btn-default{
		padding: 7px;
		padding-right: 25px;
		padding-left: 25px;
		margin-left: 10px;
		float: right;
	}
}

input.error{
	border: 1px solid red;
	color: red;
}

input.valid{
	border: 1px solid green;
	color: green;
}

label.error{
	float: left;
	border: none;
	color: red;
}

.per-usersett__invite__form{
	label.error{
		display: none !important;
		@media(max-width: 768px){
		display: none !important;
	}
	}
}

.per-usersett__invite__form{
	input.error{
		color: red !important;
		border: 1px solid red !important;
	}
}

.per-usersett__invite__form{
	input.valid{
		color: green !important;
		border: 1px solid green !important;
	}
}


.form-group-modal{
	position: relative;
	label.error{
		position: absolute;
		font-size: 12px;
		left: -110px;
		top: 9px;
	}

}

.modal-contact-valida{
	display: none;
	.modal-contact-valida__body{
		background-color: white;
		padding: 8px;
		width: 600px;
		padding: 30px;
		padding-right: 20px;
		margin: 5% auto;
		background-color: #fafafa;
	}
	.modal-contact-valida__header{
		.modal-contact-valida--close{
			background-color: transparent;
			border: none;
			cursor: pointer;
			float: right;
		}
	}

}


	.per-content__aside-menu--navbar{
		padding-left: 10px;
	}
	.per-content__aside-menu--cat{
		padding-left: 10px;
	}

.modal-contact-valida__body--text{
			text-align: center;
			margin-top: 35px;
			h3{
				text-align: center;
				font-size: 36px;
				font-weight: 400;
			}
			div{
				margin-top: 30px;
				text-align: center;
				font-size: 16px;
				font-style: lighter;
				line-height: 25px;
				margin-bottom: 60px;
			}
		}

.modal-tabs-window .modal-body .modal-body__header .modal-body__header--tabs .tablinks{
	cursor: auto;
}


@media (max-width: 889px){
	.hidden-md{
		display: none !important;
	}
	.modal-body__info__date .date{
		margin-right: 30px;
	}
}

.btn-modal-cmaera-close .filter-showsm{
	display: none;
}

.btn-modal-camera-close .filter-showsm{
	display: none;
}

@media (max-width: 1095px){
	.col-6.per-header__navbar{
		width: 41%;
	}
}

@media (max-width: 1028px){
	.col-5.per-header__app{
		&>.per-header__app__title{
			display: none !important;
		}
	}
}

@media (max-width: 776px){
	.hidden-sm{
		display: none !important;
	}
	.btn-modal-camera-close .filter-showsm{
		display: block;
		float: left;
		font-size: 14px;
		color: #2b9ff7;
		text-decoration: underline;
		position: absolute;
		top: 1px;
		right: 60px;
	}
}

.col-5.per-content__container__folders__block,
.col-5.per-content__container__camera-video__block{
	margin-bottom: 20px;
}

.col-5{
	margin-right: 1.19% !important;
}

.desktop-title{
	a{
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}

.per-content .per-content__camera-view{
	margin-bottom: 0;
}

.per-content .per-content__container__camera-video{
	margin-bottom: 0;
}