@font-face{
	font-family: 'PFD';
	src: url(../fonts/PFDinDisplayPro-Reg.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'PFD';
	src: url(../fonts/PFDinDisplayPro-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face{
	font-family: 'PFD';
	src: url(../fonts/PFDinDisplayPro-Black.tff) format('truetype');
	font-style: normal;
	font-weight: 900;
}

@font-face{
	font-family: 'PFD';
	src: url(../fonts/PFDinDisplayPro-Light.ttf) format('truetype');
	font-style: lighter;
	font-weight: normal;
}