@import "susy";

$susy: (
  columns: 20,
  gutters: .75
);


.row{
	@include container(1200px);
}


.col-16{
	@include span(16);
	&:last-child{
		@include span(16 last);
	}
	&:first-child{
		@include span(16 first);
	}
}

.col-3{
	@include span(3);
	&:last-child{
		@include span(3 last);
	}
	&:first-child{
		@include span(3 first);
	}
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-4{
	@include span(4);
	&:last-child{
		@include span(4 last);
	}
	&:first-child{
		@include span(4 first);
	}
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-5{
	@include span(5);
	&:first-child{
		@include span(5 first);
	}
	&:last-child{
		@include span(5 last);
	}
	@media (max-width: 375px){
		@include span(20);
		margin-bottom: 10px;
		&:first-child{
			@include span(20 first);
		}
		&:last-child{
			@include span(20 last);
		}
	}
}

.col-6{
	@include span(6);
	&:first-child{
		@include span(6 first);
	}
	&:last-child{
		@include span(6 last);
	}
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-7{
	@include span(7);
	&:first-child{
		@include span(7 first);
	}
	&:last-child{
		@include span(7 last);
	}
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-10{
	@include span(10);
	&:last-child{
		@include span(10 last);
	}
	&:first-child{
		@include span(10 first);
	}
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-15{
	@include span(15);
	&:first-child{
		@include span(15 first);
	}
	&:last-child{
		@include span(15 last);
	}
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-17{
	@include span(17 last);
	@media (max-width: 375px){
		@include span(20);
	}
}

.col-20{
	@include span(20);
	@media (max-width: 375px){
		@include span(20);
	}
}