.per-header{
	background-color: white;
	padding: $pers-header-padding-top-bottom 0;
	.per-header__logo{
		font-size: $pers-header-logo-font-size;
		color: $pers-header-text-color;
		font-weight: 700;
		a{
			text-decoration: none;
			color: inherit;
		}
	}
	.per-header__app{
		padding-top: 18px;
		font-style: lighter;
		font-weight: 400;
		a{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
		}
		.per-header__app__title{
			float: left;
			display: inline-block;
			margin-right: 20px;
		}
	}
	.per-header__navbar{
		text-align: right;
		margin-right: 0;
	}
	.per-header__navbar--wrapper{
		display: inline-block;
		padding-top: 20px;
		li{
			display: inline-block;
			float: left;
			margin-right: 28px;
			&:first-child{
				margin-left: 14px;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				color: $pers-header-text-color;
				font-size: $pers-header-navbar-font-size;
				text-decoration: none;
			}
		}
	}
}