.icon-closebig{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../images/icons/close-big.png);
	background-repeat: no-repeat;
}

.icon-folder{
	width: 16px;
	height: 15px;
	display: inline-block;
	float: left;
	background-image: url(../images/icons/folderico.png);
	background-repeat: no-repeat;
}

.icon-android{
	width: 18px;
	height: 20px;
	display: inline-block;
	float: left;
	background-image: url(../svg/android.svg);
	background-repeat: no-repeat;
	background-size: 18px 20px;
}

.icon-apple{
	@extend .icon-android;
	background-image: url(../svg/apple.svg);
	background-repeat: no-repeat;
	background-size: 18px 20px;
}

.icon-windows{
	width: 18px;
	height: 20px;
	float: left;
	display: inline-block;
	background-image: url(../svg/windows.svg);
	background-repeat: no-repeat;
	background-size: 18px 20px;
}

.icon-camera{
	width: 16px;
	height: 12px;
	float: left;
	display: inline-block;
	background-image: url(../images/icons/camera.png);
	background-repeat: no-repeat;
}

.icon-cam{
	@extend .icon-camera;
	background-image: url(../images/icons/cam.png);
	background-repeat: no-repeat;
}

.icon-adfold{
	width: 16px;
	height: 15px;
	float: left;
	display: inline-block;
	background-image: url(../images/icons/folder-add.png);
	background-repeat: no-repeat;
}

.icon-addcam{
	width: 16px;
	height: 11px;
	float: left;
	display: inline-block;
	background-image: url(../images/icons/cameradd.png);
}

.icon-calendar{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	background-image: url(../images/icons/calendar.png);
	background-repeat: no-repeat;
}

.icon-menu{
	width: 18px;
	height: 12px;
	float: right;
	display: inline-block;
	background: transparent;
	border: none;
	cursor: pointer;
	background-image: url(../images/mobile/dropdown.png);
	background-repeat: no-repeat;
}

.icon-camera-mob{
	width: 16px;
	height: 12px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	background-image: url(../images/mobile/dropdown-next.png);
	background-repeat: no-repeat;
}

.icon-close-btn-window{
	width: 10px;
	height: 10px;
	display: inline-block;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	background-image: url(../images/icons/closebtn.png);
	background-repeat: no-repeat;
}

.icon-trash{
	width: 13px;
	height: 12px;
	display: inline-block;
	cursor: pointer;
	float: left;
	margin-right: 10px;
	background-image: url(../images/icons/icon-trash.png);
	background-repeat: no-repeat;
}

.icon-full{
	@extend .icon-trash;
	margin-right: 0;
	background-image: url(../images/icons/share.png);
}

.icon-skype{
	width: 18px;
	height: 19px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	background-image: url(../images/icons/skype.png);
	background-repeat: no-repeat;
}

.icon-play{
	width: 14px;
	height: 16px;
	display: inline-block;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	background-image: url(../images/icons/Play-icon.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-volume{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	background-image: url(../images/icons/Volume-icon.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-social-share{
	width: 14px;
	height: 16px;
	display: inline-block;
	float: left;
	background-image: url(../images/icons/social-share.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-full-size{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
	margin-left: 13px;
	background-image: url(../images/icons/resize-window.png);
	background-repeat: no-repeat;
	cursor: pointer;
}


.svg-logo{
	width: 141px;
	height: 30px;
	display: inline-block;
	background-image: url(../svg/logo.svg);
	background-repeat: no-repeat;
	background-size: 141px 30px;
	@media (max-width: 768px){
		width: 80px;
		height: 17px;
		background-size: 80px 17px;
		background-repeat: no-repeat;
	}
}

.svg-logo-navigation{
	@extend .svg-logo;
	background-size: 80px 17px;
	width: 80px;
	height: 17px;
}

.svg-logo-mobile-camera{
	@extend .svg-logo-navigation;
}

.icon-getback{
	width: 10px;
	height: 15px;
	background-image: url(../images/get-back.png);
	background-repeat: no-repeat;
	display: inline-block;
}