.camera-interface{
	width: 100%;
	background-color: rgba(34,44,60,.7);
	height:46px;
	position: absolute;
	bottom: 0;
	left: 0;
	.interface-play{
		position: absolute;
		top: 15px;
		left: 12px;
	}
	.interface-time{
		position: absolute;
		left: 56px;
		top: 16px;
		color: white;
		font-size: 14px;
	}
	.interface-timeline{
		position: absolute;
		top: 20px;
		left: 98px;
		width: 70%;
		height: 6px;
		border-radius: 6px;
		background-color: white;
		@media (max-width: 800px){
			width: 67%;
		}

		@media (max-width: 768px){
			width: 66%;
		}
		@media (max-width: 736px){
			width: 64%;
		}
		@media (max-width: 668px){
			width: 60%;
		}
		@media (max-width: 569px){
			width: 55%;
		}
		@media (max-width: 493px){
			width: 47%;
		}
		@media (max-width: 460px){
			width: 42%;
		}
		@media (max-width: 454px){
			width: 37%;
		}
		@media (max-width: 375px){
			width: 31%;
		}
		@media (max-width: 321px){
			width: 27%;
		}
	}
	.interface-full{
		position: absolute;
		top: 15px;
		right: 20px;
		@media (max-width: 375px){
			right: 13px;
		}
		@media (max-width: 321px){
			right: 10px;
		}
	}
	.interface-share{
		right: 54px;
		top: 15px;
		position: absolute;
		@media (max-width: 375px){
			right: 43px;
		}
		@media (max-width: 321px){
			right: 39px;
		}
	}
	.interface-sound{
		right: 72px;
		top: 15px;
		position: absolute;
		@media (max-width: 375px){
			right: 58px;
		}
		@media (max-width: 321px){
			right: 52px;
		}
	}
	.interface-time-end{
		position: absolute;
		top: 16px;
		right: 119px;
		color: white;
		font-size: 14px;
		@media (max-width: 375px){
			right: 104px;
		}
		@media(max-width: 321px){
			right: 96px;
		}
	}
}

