@media (max-width: 768px){
	.col-5.per-content__container__folders__block{
		margin-bottom: 10px !important;
	}
	.per-content__aside-menu .content-aside-menu{
		position: initial !important;
	}
	.per-header__logo h3 a{
		display: block !important;
	}
	.btn-close-window-menu{
		display: block !important;
	}
	.per-content__aside-menu .btn-close-window-menu{
		right:  24px !important;
		top: 17px !important;
	}

	.col-5.per-content__container__camera-video__block{
		width: 46% !important;
		.video{
			height: 236px;
			img{
				height: 242px;
			}
		}
	}
	.per-header__navbar .per-header__navbar--wrapper .navbar--header{
		text-align: left;
		padding: 10px;
		padding-left: 40px;
		padding-top: 0px;
		padding-bottom: 18px;
	}
	.mobile-header{
		text-align: left;
		padding: 10px;
		padding-top: 2px;
		padding-left: 40px;
		padding-bottom: 18px;
	}
	.per-header{
		padding:20px 30px !important;
	}
	.per-camera{
		padding: 15px 30px !important;
	}
	.video{
		img{
			width: 100%;
		}
	}

	#cameraContext{
		margin-bottom: 5px;
	}

	.mobile-create-folder{
		margin-bottom: 15px;
		a{
			color: #518fe9;
			text-decoration: none;
		}
	}

	.mobile-add-camera{
		margin-top: 15px;
		margin-bottom: 15px;
		a{
			color: #518fe9;
			text-decoration: none;
		}
	}


	.per-header__logo{
		h3{
			a{
				display: none;
			}
			a.mobile-logo{
				display: block;
				border: none;
				cursor: pointer;
				background-image: url(../images/mobile/Perseus.png);
				width: 81px;
				height: 17px;
			}
		}
	}
	.per-content__container__folders{
		margin-bottom: 0px !important;
	}
	.btn-respons{
		display: inline-block;
	}
	.per-header__app{
		display: none;
	}
	.per-header__navbar{
		display: none;
	}
	.per-camera__add{
		display: none;
	}
	.mobile-menu-btn{
		display: block;
		font-size: 17px;
		width: 160px;
		line-height: 11px;
	}
	.desktop-title{
		display: none;
	}
	
	.mobile-menu-btn{
			cursor: pointer;
		}

	.per-header__navbar{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background-color: rgba(0,0,0,.5);
		a.mobile-logo{
			margin-left: 40px;
			margin-bottom: 20px;
			display: block;
			border: none;
			cursor: pointer;
			background-image: url(../images/mobile/Perseus.png);
			width: 81px;
			height: 17px;
		}
		.close-btn-navbar{
			border: none;
			background-color: transparent;
			position: absolute;
			cursor: pointer;
			right: 25px;
			top: 16px;
			z-index: 9999;
			display: block;
		}
		.col-6.per-header__navbar{
			width: 100% !important;
		}
		.per-header__navbar--wrapper{
			width: 240px;
			height: 100vh;
			background-color: white;
			z-index: 9999;
			.navbar--header{
				border-bottom: 1px solid #e2e2e2;
			}
			.navbar--apps{
				border-bottom: 1px solid #e2e2e2;
				padding: 10px;
				margin-bottom: 20px;
				text-align: left;
				padding-left: 40px;
				div{
					margin-top: 10px;
					a{
						margin-right: 10px;
						&:last-child{
							margin-right: 0;
						}
					}
					&:after{
						content: "";
						height: 0;
						visibility: hidden;
						display: block;
						clear: both;
					}
				}
			}
			ul{
				margin:0;
				padding: 0;
				float: none;
				text-align: left;
				margin-top: 40px;
			}
			li{
				display: block;
				text-align: left;
				margin: 0;
				float: none;
				padding: 0;
				margin-left: 40px;
				margin-bottom: 10px;
			}
		}
	}

	.per-content__aside-menu{
		position: fixed;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,.3);
		z-index: 9993;
		height: 100% !important;
		width: 100% !important;
		display: none;
		.btn-close-window-menu{
			cursor: pointer;
			position: absolute;
			right: -55px;
			top: 20px;
			background-color: transparent;
			border: none;
		}
		.content-aside-menu{
			position: relative;
			top: 0;
			z-index: 9999;
			width: 240px;
			margin-top: -32px;
			padding-top: 20px;
			height: 100vh;
			background-color: white;
		}
		.mobile-header{
			margin-bottom: 20px;
			border-bottom: 1px solid #e2e2e2;
		}
		a.mobile-logo{
			margin-left: 40px;
			margin-bottom: 20px;
			display: block;
			border: none;
			cursor: pointer;
			background-image: url(../images/mobile/Perseus.png);
			width: 81px;
			height: 17px;
		}
		h3{
			padding-left: 40px;
		}
		.per-content__aside-menu--navbar{
			padding-left: 40px;
		}
	}

	// Per navbar header
	.per-header .per-header__navbar--wrapper{
		display: block;
		width: 240px;
		background-color: white;
	}

	.col-16{
		width: 100%;
	}

	.col-10.per-usersett__left{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.col-10.per-usersett__right{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.col-3.per-navigate__title{
		width: 56%;
		float: none;
	}

}

@media (min-width: 769px){
	.close-btn-navbar{
		display: none;
	}
	.mobile-create-folder{
		display: none;
	}
	.mobile-add-camera{
		display: none;
	}
	.btn-close-window-menu{
		display: none;
	}
	.btn-respons{
		display: none;
	}
	.per-header__navbar{
	float: right;
}
	.mobile-menu-btn{
		display: none;
	}
	.mobile-header{
		display: none;
	}
	div.navbar--header{
		display: none;
	}
	div.navbar--apps{
		display: none;
	}
}

@media (max-width: 1200px){
	.per-navigate{
		padding: 15px 30px !important;
	}
	.col-4.per-navigate__title{
		width: 100%;
	}
	.per-header{
		padding: 20px 30px;
	}
	.per-camera{
		padding: 15px 30px;
	}
	.col-6.per-header__navbar{
		width: 30%;
	}
	.col-5.per-header__app{
		width: 24% !important;
	}
}

@media (max-width: 1039px){
	.col-3.per-camera__title{
		min-width: 160px;
	}
	.col-5.per-header__app{
		width: 32% !important;
	}
	.per-content .per-content__container__folders{
		margin-bottom: 0px;
	}
	.per-content .per-content__container__camera-video{
		margin-bottom: 0px;
	}
	.col-5.per-content__container__folders__block{
		width: 30% !important;
		margin-bottom: 20px;
		&:last-child{
			float: left;
		}
	}
	.col-5.per-content__container__camera-video__block{
		width: 30% !important;
		margin-bottom: 20px;
		&:last-child{
			float: left;
		}
	}
}

@media (max-width: 768px){
	.col-6.per-header__navbar{
		width: 100% !important;
	}
	.col-4.per-header__logo{
		margin-right: 3.0101% !important;
	}
	.col-5.per-header__app{
		margin-right: 1.0101% !important;
		width: 35.24242% !important;
	}
	.col-5.per-content__container__folders__block{
		width: 31%;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 20px;

		}
	}
	.col-16.per-content__camera-view{
		width: 100%;
		padding-left: 30px;
	}
	.col-5.per-content__container__camera-video__block{
		width: 31%;
		margin-bottom: 10px;
	}
	.col-20.per-content__container__folders{
		margin-bottom: 9px;
		margin-top: -10px;
	}
	.per-usersett__invite__form{
		.btn{
			margin-top: 20px;
		}
	}
	.col-5.per-content__container__camera-video__block{
		float: left;
	}
}

@media (max-width: 768px){
	.col-5.per-content__container__camera-video__block{
		width: 46% !important;
		.video{
			height: 240px;
			img{
				height: 262px;
			}
		}
	}
}


@media (max-width: 460px){
	.col-5.per-content__container__folders__block{
		width: 46% !important;
	}
	.col-5.per-content__container__camera-video__block{
		width: 46% !important;
	}
	.per-content .per-content__container__camera-video__block .info h3{
		width: 120px;
	}
	.per-content .per-content__container__camera-video__block .video{
		height: 141px;
		img{
			height: 148px;
		}
	}
}


@media (max-width: 375px){
	.per-content .per-content__container__camera-video__block .video{
		height: 192px;
		img{
			height: 205px;
		}
	}
	.per-content .per-content__container__camera-video__block .info h3{
		width: 210px !important;
	}
	.col-5.per-content__container__folders__block{
		width: 91% !important;
	}
	.col-5.per-content__container__camera-video__block{
		width: 91% !important;
	}
}

