.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: none;
	background-color: rgba(0,0,0,.4);
	margin-bottom: 40px;
}

.modal-camera{
	@extend .modal;
	.modal-body{
		position: relative;
		margin: 5% auto;
		max-width: 900px;
		background-color: white;
		@include animation("fadeIn .4s");
		.modal-body__header{
			padding: 20px 30px;
			&:after{
				content: "";
				height: 0;
				display: block;
				visibility: hidden;
				clear: both;
			}
			h3{
				font-size: 21px;
				float: left;
			}
			.btn-modal-camera-close{
				float: right;
				cursor: pointer;
				border: none;
				background-color: transparent;
				font-size: 18px;
				color: #000;
			}
		}
		.modal-body__info{
			padding: 10px 30px;
			background-color: $pers-section-background;
			border-top: 1px solid $pers-section-border-top-color;
			border-bottom: 2px solid #e3e3e3;
			.modal-body__info__switcher{
				span{
					margin-left: 10px;
					display: inline-block;
					padding-top: 5px;
					font-weight: bold;
					font-size: 14px;
				}
			}
			.modal-body__info__switcher--checkbox{
				position: relative;
				display: inline-block;
				float: left;
				width: 45px;
				height: 26px;
				&>input{
					display: none;
					&:checked + .slide{
						background-color: #0090ed;
					}
					&:checked + .slide:before{
						transform: translateX(20px);
						-webkit-transform: translateX(20px);
						-moz-transform: translateX(20px);
					}
				}
				&>.slide{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #ccc;
					cursor: pointer;
					border-radius: 26px;
					&:before{
						content: "";
						position: absolute;
						width: 20px;
						height: 20px;
						display: block;
						left: 3px;
						bottom: 3px;
						background-color: white;
						-webkit-transition: .4s;
						transition: .4s;
						border-radius: 20px;
					}
				}
			}
		}
	}
}

.camera-video{
	&>img{
		width: 100%;
		height: auto;
	}
}

.modal-tabs-window{
	display: none;
	.modal-body{
		margin: 5% auto;
		width: 900px;
		background-color: $pers-content-background;
		.modal-body__header{
			background-color: white;
			border-bottom: 2px solid #e5e5e5;
			padding: 23px;
			.modal-body__header--tabs{
				.tablinks{
					font-size: 14px;
					color: #adadad;
					padding: 3px;
					position: relative;
					padding-right: 10px;
					padding-left: 10px;
					padding-bottom: 20px;
					cursor: pointer;
					&:last-child{
						border-right: none;
						padding-right: 10px;
					}
				}
			}
		}
		.modal-body__content--create__title{
			text-align: center;
			background-color: $pers-content-background;
			h3{
				font-size: 25px;
				font-weight: 700;
				text-align: center;
				padding-top: 109px;
			}
		}
		.modal-body__content--create__blocks{
			background-color: $pers-content-background;
			padding-top: 30px;
			text-align: center;
			&:after{
					content: "";
					display: block;
					height: 0;
					visibility: hidden;
					clear: both;
			}
			margin-bottom: 130px;
			.blocks{
				width: 180px;
				height: 160px;
				float: left;
				position: relative;
				margin-right: 70px;
				display: inline-block !important;
				cursor: pointer;
				background-color: transparent;
				border: 1px solid #cccccc;
				&:first-child{
					margin-left: 110px;
				}
				&:last-child{
					margin-right: 0;
				}
				&:hover{
					@include linear-gradient(#2da1f7, #1992eb);
					border: 1px solid transparent;
				}
			}
		}
	}
}

.tabcontent{
	display: none;
	&:first-child{
		display: block;
	}
}

.active-modal{
	font-weight: 700;
	color: #000 !important;
	padding-bottom: 10px;
	border-bottom: 4px solid #0090ed;
}

.block-one{
	.blocks__image{
		width: 90px;
		height: 67px;
		position: absolute;
		top: 33px;
		left: 25%;
		right: 50%;
		background-image: url(../images/icons/sprites.png);
		background-position: 0px -87px;
		background-repeat: no-repeat;
	}
	.blocks__title{
		text-align: center;
		position: absolute;
		bottom: 17px;
		h4{
			text-align: center;
		}
	}
}

.block-two{
	.blocks__image{
		width: 90px;
		height: 67px;
		position: absolute;
		top: 33px;
		left: 25%;
		right: 50%;
		background-image: url(../images/icons/sprites.png);
		background-position: 0px -242px;
		background-repeat: no-repeat;
	}
	.blocks__title{
		position: absolute;
		bottom: 17px;
		text-align: center;
		h4{
			padding-left: 26px;
		}
	}
}
.block-three{
	.blocks__image{
		width: 90px;
		height: 67px;
		position: absolute;
		top: 33px;
		left: 25%;
		right: 50%;
		background-image: url(../images/icons/sprites.png);
		background-position: 0px -345px;
		background-repeat: no-repeat;
	}
	.blocks__title{
		position: absolute;
		bottom: 17px;
		text-align: center;
		h4{
			padding-left: 46px;
		}
	}
}

.setting-bg-image{
	width: 261px;
	height: 126px;
	display: block;
	background-image: url(../images/icons/computer.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.modal-body__content--setting{
	position: relative;
	text-align: center;
	h3{
		font-size: 21px;
		line-height: 25px;
	}
}

.modal-body__content--instr{
	text-align: left;
	padding-left: 50px;
	padding-top: 70px;
	line-height: 27px;
	h3{
		font-size: 21px;
		margin-bottom: 10px;
	}
	p{
		font-size: 21px;
		margin-bottom: 40px;
	}
}

.modal-icons{
	margin-bottom: 30px;
	a{
		padding-top: 10px;
		margin-right: 10px;
		float: left;
		
	}
	&:after{
		content: "";
		display: block;
		visibility: hidden;
		height: 0;
		clear: both
	}
}

.btn-style-close{
	border:none;
	background-color: transparent;
}


// Modal contact body


.modal-body__contact{
	width: 600px;
	margin: 5% auto;
	background-color: #eeeeee;
	.modal-body-contact__header{
		padding: 10px;
		padding-top: 30px;
	}
	.close-btn-contact{
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	.modal-body-contact__body{
		h1{
			font-size: 36px;
			margin-bottom: 37px;
			padding-top: 30px;
			padding-left: 110px;
		}
		h3{
			font-style: lighter;
			font-size: 16px;
			text-align: center;
			line-height: 25px;
		}
	}
	.modal-body-contact__body{
		position: relative;
		background-color: #eee;
	}
	.contact-blocks-email-skype{
		padding-left: 140px;
		margin-top: 40px;
		span{
			float: left;
			a{
				text-decoration: none;
				font-size: 16px;
				color: #0090ed;
			}
		}
	}
}

.form-group-modal{
	margin-bottom: 10px;
	padding-left: 150px;
	button{
		margin-top: 20px;
		margin-left: 90px;
	}
	&:first-child{
		margin-top: 40px;
	}
	&:last-child{
		margin-bottom: 0;
	}
	input{
		font-size: 14px;
		font-family: 'PFD';
		color: #000;
		padding: 6px;
		width: 246px;
		border: 1px solid #dfe3e9;
	}
	textarea{
		resize: none;
		width: 246px;
		height: 107px;
		font-size: 15px;
		border: 1px solid #dfe3e9;
		padding: 6px;
		font-family: 'PFD';
	}
}
