
.modal-body__header{
	.filter-showsm{
		color: #2b9ff7;
		font-size: 14px;
		text-decoration: none;
		display: none;
		@media (max-width: 768px){
			display: inline-block;
			float: right;
			margin-right: 37px;
			padding-top: 3px;
			cursor: pointer;
		}
	}
}