.per-navigate{
	background-color: $pers-section-background;
	border-top: 1px solid $pers-section-border-top-color;
	padding: 20px 0;
	border-bottom: 2px solid #e3e3e3;
	z-index: 9999;
	.per-navigate__title{
		font-size: 21px;
	}
}