.block_format{
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	padding: 30px;
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0;
	}
}

.forminput{
	background-color: #f9f9f9;
	border: 1px solid #dfe3e9;
	padding: 9px 12px;
	padding-right: 30px;
	font-size: 14px;
	border-radius: 3px;
	&:focus{
		outline: none;
	}
	&:active{
		outline: none;
	}
}

.seciton-input{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: transparent;
	cursor: pointer;
	@include linear_gradient(#fefeff, #f5f7fa);
	background-image: url(../images/icons/dropdown.png);
	background-repeat: no-repeat;
	background-position: 90% center;
	padding: 8px;
	padding-right: 130px;
	border: none;
	border-radius: 3px;
	border-bottom: 1px solid #e3e3e3;
	&:active{
		outline: none;
	}
	&:focus{
		outline: none;
	}
}

.per-usersett{
	margin-top: 30px;
	margin-bottom: 150px;


	.per-usersett__right__country{
		@extend .block_format;
		h3{
			font-size: 21px;
		}
		.per-usersett__right__country__form{
			margin-top: 20px;
			select{
				@extend .seciton-input;
				background-image: url(../images/icons/dropdown.png), url(../images/icons/bg-col.png);
				background-position: 90% center, left center;
				background-repeat: no-repeat, repeat-x;
			}
			input[type="submit"]{
				display: block;
				padding-left: 50px;
				padding-right: 50px;
				margin-top: 20px;
			}
		}
	}

	.per-usersett__right__delete{
		padding: 20px;
		a{
			font-size: 16px;
			text-decoration: none;
			color: #2397ed;
		}
	}

	.per-usersett__right__clock{
		@extend .block_format;
		h3{
			font-size: 21px;
		}
		.per-usersett__right__clock__form{
			margin-top: 20px;
			select{
				@extend .seciton-input;
				width: 210px;
				padding-right: 40px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				background-image: url(../images/icons/dropdown.png), url(../images/icons/bg-col.png);
				background-position: 90% center, left center;
				background-repeat: no-repeat, repeat-x;
			}
			input[type="submit"]{
				display: block;
				padding-left: 50px;
				padding-right: 50px;
				margin-top: 20px;
			}
		}
	}

	.per-usersett__right__bussines{
		@extend .block_format;
		h3{
			font-size: 21px;
		}
		blockquote{
			font-size: 14px;
			line-height: 24px;
			margin-top: 20px;
		}
	}



	.per-usersett__info{
		@extend .block_format;
		h3{
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
			span{
				margin-left: 5px;
				font-weight: 400;
			}
		}
	}
	.per-usersett__invite{
		@extend .block_format;
		h2{
			font-size: 21px;
			margin-bottom: 20px;
		}
		h4{
			font-size: 14px;
			b{
				font-weight: 700;
			}
		}
		.per-usersett__invite__form{
			margin-top: 20px;
			input[type="text"]{
				padding-right: 30px;
				@extend .forminput;
				margin-right: 10px;
			}
		}

	}
	.per-usersett__password{
		@extend .block_format;
		.per-usersett__password__form{
			margin-top: 20px;
		}
		h3{
			font-size: 21px;
		}
		input[type="password"]{
			@extend .forminput;
			display: block;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.per-usersett__rss{
		h3{
			font-size: 21px;
		}
		@extend .block_format;
		.per-usersett__rss__form{
			margin-top: 15px;
			.btn{
				margin-top: 20px;
				padding-left: 50px;
				padding-right: 50px;
			}
			p{
				padding-top: 15px;
				margin-left: 70px;
			}
			
		}
	}
}

.per-usersett__rss__form--input{
	margin-top: 28px;
	float: left;
	margin-right: 10px;
}

.checkbox:not(checked){
	position: absolute;
	opacity: 0;
}

.checkbox:not(checked) + label{
		position: relative; 
		padding: 0 0 0 60px;
		cursor: pointer;
	}

	.checkbox:not(checked) + label:before{
		content: '';
		position: absolute;
		top: -4px;
		left: 0;
		width: 50px;
		height: 26px;
		border-radius: 13px;
		background: #d2d2d2;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	}
	.checkbox:not(checked) + label:after{
		content: '';
		position: absolute;
		top: -2px;
		left: 2px;
		width: 22px;
		height: 22px;
		border-radius: 10px;
		background: #FFF;
		box-shadow: 0 2px 5px rgba(0,0,0,.3);
		transition: all .2s;
	}
	.checkbox:checked + label:before{
		background: #0090ed;
	}
	.checkbox:checked + label:after{
		left: 26px;
	}
	.checkbox:focus + label:before{
		box-shadow: 0 0 0 3px rgba(255,255,0,.5);
	}

#checkbox-bold-second{
	padding-top: 26px;
}