



// BODY
$pers-background-color: white;
$pers-body-font-family-default: 'PFD';
$pers-body-font-size-default: 16px;
$pers-font-color-default: #000000;

	// HEADER: COLORS, WIDTH, MARGINS
	$pers-header-padding-left-right: 30px;
	$pers-header-padding-top-bottom: 20px;
	$pers-header-text-color: #0090ed;
	$pers-header-logo-font-size: 42px;
	$pers-header-navbar-font-size: 16px;
	// CAMERA SECTION BLOCK: COLORS, WIDTH, MARGINS
	$pers-section-background: #fafafa;
	$pers-section-border-top-color: #e3e3e3;
	$pers-section-text-size-title: 21px;
	// CONTENT SECTION: COLORS, WIDTH, MARGINS
	$pers-content-background: #eeeeee;