@import '../bower_components/reset.scss/reset.scss';
@import 'variables';
@import 'mixins';

@import 'buttons';
@import 'calendar';
@import 'camera-section';
@import 'cameracontroll';
@import 'content';
@import 'dropdown';
@import 'fonts';
@import 'grids';
@import 'header';
@import 'icons';
@import 'keyframes';
@import 'mediaquery';

@import 'modal';
@import 'navigate';
@import 'usercontent';
@import 'interface';
@import 'fix';
@import 'modalfilter';

*{
	&:active{
		outline: none;
	}
	&:focus{
		outline:none;
	}
}

html{
	min-height: 100%;
}

body{
	background-color: #eeeeee;
	font-family: $pers-body-font-family-default;
	font-size: $pers-body-font-size-default;
	min-height:100%;
	margin: 0 ;
	padding: 0;
}

.container{
	min-height: 100%;
}

	.btn-modal-camera-close .filter-showsm{
		text-decoration: none !important;
		top: 2px !important;
	}


@media (max-width: 480px){
	.modal-camera .modal-body .modal-body__header{
		padding: 20px 10px;
		padding-right: 0px
	}
	.modal-camera .modal-body .modal-body__header h3{
		width: 200px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}



@media (max-width: 375px){
	.modal-camera .modal-body .modal-body__header{
		padding: 20px 10px;
		padding-right: 0px
	}
	.modal-camera .modal-body .modal-body__header h3{
		width: 180px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media (max-width: 1200px){
	.per-content{
		padding-left: 30px;
	}
}


@media (max-width: 1134px){
	.per-usersett__invite__form{
		.btn.btn-default{
			margin-top: 15px;
		}
	}

}
.col-20.per-usersett{
	padding: 0 30px;
}

.col-4.per-content__aside-menu{
	border-right: none;
}

.col-16.per-content__camera-view{
	@media (max-width: 768px){
		padding-left: 0;
	}
}

.form-group-modal label.error{
	@media(max-width: 768px){
		display: none !important;
	}
}

.modal-body__info__date.col-15{
	button{
		@media (max-width: 768px){
			margin-left: 0px;
			margin-right: 0px;
			float: none;
		}
	}
}

.col-16.per-content__camera-view{
	position: relative;
	&:after{
		content: "";
		width: 1px;
		background-color: #d7d7d7;
		position: absolute;
		top: -30px;
		bottom: 0;
		left: -2.90%;
	}
}

.modal-contact{
	.modal-body__contact{
		text-align: center;
		.email-contact-block{
			margin-right: 20px;
		}
		.form-group-modal{
			padding-left: 0px;
			float: none;
			display: block;
		}
		form{
			display: inline-block;
		}
		h1{
			padding-left: 0px;
		}
		div{
			display: inline-block;
		}
		div.contact-blocks-email-skype{
			padding-left: 0px;
		}
		input{
			display: inline-block;
			float: none;
		}
		button{
			display: inline-block;
		}
		button#closeButtonContact{
			margin-left: 516px;
		}
		button#ready-commit{
			margin-left: 0;
		}
	}
}

@media (max-width: 600px){
	.modal-contact{
		.modal-body__contact{
			margin-bottom: 5%;
			.col-20.modal-body-contact__header{
				margin-left: 90px;
			}
			.form-group-modal{
				padding-left: 0;
			}
			width: 320px;
			text-align: center;
			.email-contact-block{
				margin-right: 20px;
			}
			.contact-blocks-email-skype{
				padding-left: 0;
			}
			h1{
				display: inline-block;
				padding-left: 0;
				font-size: 24px;
			}
			h3{
				display: inline-block;
				font-size: 13px;
			}
			div{
				display: inline-block;
			}
			.form-group-modal{
				text-align:center;
			}
			button{
				margin-left: 0;
				display: inline-block;
			}
		}
	}
}

@media (max-width: 768px){
	.col-20.per-usersett__right__country{
		margin-top: 20px;
	}
}


.modal-tabs-window.modal{
	.modal-body{
		@media (max-width: 850px){
			width: 400px;
			.modal-body__content--setting.tabcontent{
				p{
					font-size: 19px;
				}
			}
			.modal-body__content--create__title{
					h3{
						font-size: 22px;
					}
				}
			.modal-body__header--tabs{
				a{
					display: none;
				}
			}
			.modal-body__content--instr.tabcontent{
				padding-top: 40px;
				padding-left: 10px;
				text-align: left;
				p{
					font-size: 18px;
				}
			}
			.modal-body__content--setting.tabcontent{
				text-align: center;
				h3{
					font-size: 16px;
				}
				*{
					display: inline-block;
				}
			}
			.modal-body__content--create.tabcontent{
				.modal-body__content--create__title{
					h3{
						font-size: 22px;
						padding-top: 20px;
					}
				}
				text-align: center;
				.modal-body__content--create__blocks{
					display: inline-block;
					.blocks{
						display: block !important;
						margin-bottom: 20px;
						&:last-child{
							margin-bottom: 0;
						}
						margin-left: 0;
						margin-right: 0;
						float: none;
					}
				}
			}
		}
		@media (max-width: 400px){
			width: 320px;
		}
	}
}

.modal-contact .modal-body__contact button#closeButtonContact{
	@media (max-width: 600px){
		margin-left: 0;
	}
}

@media (max-width: 600px){
	.modal-contact-valida__body{
	width: 320px;
	.modal-contact-valida__body--text{
		h3{
			font-size: 29px;
		}
		div{
			font-size: 14px;
			margin-top: 10px;
			margin-bottom: 29px;
		}
	}
}

.per-usersett__invite__form{
	.btn.btn-default{
		padding-left: 27px;
		padding-right: 27px;
	}
}

}